[2019-02-12 20:15] rxwei opened #4 "Provide a way to access non-differentiable model state from `Optimizer.update`."
@dominikgrewe pointed out that K-FAC needs to access the model's non-differentiable internal state from `Optimizer.update(_:along:)`. My initial idea is to change the optimizer API to the following:

[code]

But this comes at the cost of complicating concrete optimizers' implementation of `update(_:along:)`:
* Too long: `model.allDifferentiableVariables.recursivelyAllWritableKeyPaths(to: Tensor<Sc

[2019-02-12 20:25] dan-zheng commented on #4
I wonder what you mean by this. It seems we do actually want to access a model's non-differentiable states in an optimizer.

Did you mean "we don't want to _mutate_ a model's non-differentiable states in an optimizer"?

[2019-02-12 20:28] rxwei commented on #4
Thanks for pointing that out.

[2019-02-12 21:04] dominikgrewe commented on #4
Can't variables like `secondMoments` still be of type `Model.AllDifferentiableVariables`?

[2019-02-12 21:24] rxwei commented on #4
Ah yes, I used the wrong example here. What I really meant to change is any setter indexing from `model`.
[code]

[2019-02-13 00:04] rxwei commented on #4
Changed the protocol as I demonstrated above. We will discuss further if the verbosity becomes a concern.

[2019-02-14 01:58] rxwei commented on #4
Actually it starts to become a problem. `Differentiable.allDifferentiableVariables` should not be required to have a setter. See mailing list thread for reasons why that's the case: https://groups.google.com/a/tensorflow.org/d/msg/swift/HsPnSh4DFac/8511F4ENAQAJ.

When that's fixed, we can't really use `inout Model`'s `.allDifferentiableVariables` to update the model in the optimizer. So we'd have

[2019-02-23 23:11] tanmayb123 opened #25 "Retrieve layer/model weights"
There should be an easy way to extract the weights of a Layer/Model and save them. Currently, I've got the not-so-pretty method of doing this:

[code]

Originally, I thought of doing something like adding a `weights() -> [Tensor<Scalar>]` function to the `Layer` protocol. For example, `Dense<Scalar: TensorFlowFloatingPoint>` would implement it like so:

[code]

My layer could then do this:

[code]

[2019-02-23 23:52] rxwei commented on #25
Forming an arrays of tensors is never a good solution -- it performs unnecessary semantic copies and keeps more tensors alive. Our solution is key paths.  Layers conform to `KeyPathIterable`. You can take a look at `Optimizers.swift` to see how they iterate over all weights using key paths.

[code]

We are going to provide a general serialization/deserialization API that works well with the [`Coda

[2019-02-24 01:01] tanmayb123 opened #27 "Issue with applied(to:in:) differentiation"
I've got this simple code:

[code]

However, I get the following error:

[code]

Did I do something wrong here?

[2019-02-24 01:24] rxwei commented on #27
This might be a bug in derived conformances. Can you try making ‘let tester’ be public?

[2019-02-24 02:15] tanmayb123 commented on #27
Nope, same error.

[2019-02-24 03:09] rxwei commented on #27
That's a compiler bug. Would you mind filing a bug against the `AutoDiff` component at https://bugs.swift.org?

[2019-02-24 05:44] tanmayb123 commented on #27
Sure thing @rxwei. I'll do that.

Another, really really simple reproducer:

[code]

[2019-02-24 05:46] rxwei commented on #27
It actually looks like a regression -- it definitely worked in the past. We'll make sure to fix this ASAP.

[2019-02-24 05:47] rxwei commented on #27
cc @dan-zheng

[2019-02-24 05:47] tanmayb123 commented on #27
When I download `Operators.swift` & `Layer.swift`, then I run `swiftc Operators.swift Layer.swift main.swift`, I get this:

[code]

[2019-02-24 10:13] tanmayb123 commented on #27
Bug filed: https://bugs.swift.org/browse/TF-288

[2019-02-24 10:27] tanmayb123 commented on #27
Found the problem: you can't have `abc` be a constant.

Replacing

`public let abc = Dense<Float>(inputSize: 3, outputSize: 3, activation: { $0 })`

with

`public var abc = Dense<Float>(inputSize: 3, outputSize: 3, activation: { $0 })`

makes the code compile.

[2019-02-24 10:28] rxwei commented on #27
Yes, that is known to be the cause. We have `var` tests everywhere so they shouldn't fail. Will debug this soon.

[2019-02-25 01:55] rxwei opened #30 "Add public memberwise initializers for layers."

[2019-02-27 03:42] #30 closed

[2019-02-27 19:59] rxwei commented on #27
This has been fixed in https://github.com/apple/swift/pull/22905.

[2019-02-27 19:59] #27 closed

[2019-02-28 22:03] tanmayb123 opened #38 "Layers without biases - optional weights"
Currently the `Dense` layer *must* have a bias - there should be a way for the user to specify whether or not they want that bias value. Will something along these lines be possible eventually? https://gist.github.com/tanmayb123/f3631d283cb763ccc30447869efe13e8

Because for now, I think I'd need to something along these lines: https://gist.github.com/tanmayb123/0fd2a935dacb9e012174035ba4aed25f (th

[2019-03-01 07:57] rxwei commented on #38
I think both weights and activation should be optional, but just as you've tried, it requires manual branches because automatic differentiation does not support control flow yet. I'm actually fine with checking in the change with custom VJP. Control flow support will be implemented in the next two months.

[2019-03-01 07:58] rxwei commented on #38
had a typo, bias :)

[2019-03-01 08:12] tanmayb123 commented on #38
Control flow support would be really useful here, but just one more question: Will optional variables be `Differentiable`? Could `bias` just be an optional variable, with an `if let` statement once control flow is implemented?

[2019-03-01 08:18] rxwei commented on #38
Optionals can be made differentiable via a conditional conformance.
[code]

[2019-03-01 08:19] tanmayb123 commented on #38
Oh, even better. Shouldn't this be the case by default, though?

[2019-03-01 08:20] rxwei commented on #38
That should be added to the standard library.

[2019-03-11 00:22] adam-r-kowalski opened #52 "Implement Recurrent Layers"
It would be really nice to have a set of recurrent layers including LSTMs and GRUs as part of the core layers API. Ideally we can parameterize the activation functions for the various gates rather than hard coding in the tanh and sigmoid functions.

[2019-03-11 00:23] adam-r-kowalski opened #53 "Implement Convolution Transpose Layer"
While a Convolutional layer already is implemented in the existing layers, if we had a transposed version we could start to build up interesting architectures such as GANs and VAEs.

[2019-03-11 00:25] rxwei commented on #52
Definitely, they are on our roadmap. Thanks for opening an issue about this.

[2019-03-11 22:03] rxwei opened #54 "Implement more layers that are available in Keras"

[2019-03-18 03:40] tanmayb123 commented on #54
@rxwei Quick question on this: Do we also want to add layers like `Add` `Subtract` `Multiply` `Concatenate` etc.? Two things to note:

1. If we do, we could just sequence these operations instead of having to run the operations on the Tensors.
2. How would a layer handle an arbitrary length of inputs? I'm aware of how to send _multiple_ pre-defined inputs using a struct, but could you just pass an

[2019-03-18 03:55] rxwei commented on #54
Hi @tanmayb123, let’s not add those operator-like layers for now and defer it to further discussions. Ideally, we would want functions to be able to conform to the layer protocol, but it’s currently impossible in Swift, so we’ll probablu need a single type wrapper that can turn any differentiable function to a layer.

As for arbitrary-length input/output, there’s ongoing work on making Array confo

[2019-03-20 01:21] rxwei commented on #54
Random thought: We can define layer wrappers for common arities (unary and binary), and define a `layer(from:)` factory function for turning any `Differentiable`-to-`Differentiable` function into a layer.

Rough sketch:
[code]

Then, you'll be able to use functions in `sequenced(in:through:)`.

[code]

What's better: You can now use a trailing closure to create anonymous layers!

[code]

[2019-03-20 02:42] njjiang opened #59 "flattened() has not been marked '@differentiable'"
I have some code like this:
[code]

I received the following error:
[code]

Could anyone take a look at this?

[2019-03-20 02:47] rxwei commented on #59
`flattened()` is defined here: https://github.com/apple/swift/blob/tensorflow/stdlib/public/TensorFlow/Tensor.swift#L684.

Since its body uses `reshaped(to:)`, all you need is to add `@differentiable` on the declaration of that API. Would you like to send a PR?

[2019-03-20 03:52] njjiang commented on #59
Thanks! I can take on this.

[2019-03-20 05:13] #59 closed

[2019-03-28 04:57] Shashi456 commented on #54
@rxwei could we go onto make a list of what is available and whats to be done? so that gives a clearer picture of what layers need to be added? #53, #52 also are layer adding issues. So making a issue and referencing all of them might make the task easier.

[2019-03-28 06:07] Shashi456 commented on #54
The implementations include :

- [x] Dense Layer

Convolution Layer :
- [x] Conv 1D Layer
- [x] Conv 2D Layer
- [ ] Conv 3D Layer
- [ ] SeperableConv 1D
- [ ] SeperableConv 2D
- [ ] Convolution 2D Transpose
- [ ] Convolution 3D Transpise
- [ ] Deconvolution 2D
- [ ] Deconvolution 3D
- [ ] UpSampling 1D
- [x] UpSampling 2D
- [ ] UpSampling 3D
- [ ] ZeroSampling 1D
- [ ] ZeroSampling 2D
- [ ] ZeroSa

[2019-03-28 09:35] tanmayb123 commented on #53
I’ll see if I can try to implement these layers later this week. It shouldn’t be _too_ difficult, just use `_TFConv2DBackpropInput` (https://github.com/apple/swift/blob/bcb73a17770da5b891fb8cfbc647c6425bf30e53/stdlib/public/TensorFlow/Gradients.swift#L648).

The implementation in TensorFlow (Python): https://github.com/tensorflow/tensorflow/blob/6612da89516247503f03ef76e974b51a434fb52e/tensorflow/

[2019-03-28 09:39] tanmayb123 commented on #54
@Shashi456 that’s a great list - thanks for compiling it. Just two things:

1. Dropout has been implemented, but it’s not checked on your list.
2. According to what Richard and I discussed above, I thought we’re not planning on creating layers like activation layers? Rather, to just pass values through the functions, or pass the functions to layers as an activation function (as you can do right no

[2019-03-28 10:25] Shashi456 commented on #54
@tanmayb123 Alright I will remove the activate layers. But is that for sure? Weren't they made layers to make the process more intuitive in the first place?

[2019-03-28 20:12] tanmayb123 commented on #54
@rxwei what do you think?

[2019-03-28 20:18] rxwei commented on #54
@Shashi456 Thanks a lot for listing these! Looks good to me. I'd suggest starting with the non-recurrent ones first.

[2019-03-28 22:36] tanmayb123 commented on #53
@rxwei I've got a **_very-very-rough_** version of this layer here: https://gist.github.com/tanmayb123/d1509a0c294a39bd6369cfbf3a6af944

The forward pass works nicely, but when I try to calculate the gradient using `gradient(at:)` I get this error:

[code]

I've tried debugging this, but I'm a bit stuck. Do you have any ideas as to how I could fix this?

[2019-03-28 22:40] rxwei commented on #53
Gradient is only defined for functions that return a scalar. Yes, a better error message would be helpful.

To test the gradient, sum up the result to a scalar.
[code]

[2019-03-28 22:53] tanmayb123 commented on #53
Ah. I've been pretty confused at that ;)

[2019-03-28 23:14] tanmayb123 commented on #53
Quick question Richard: `_TFConv2DBackpropInput` is currently at an `internal` protection level. How would I go about making that public? Could we make that an op instead of a gradient (i.e. move that from `Gradients.swift` to `Ops.swift`)?

[2019-03-28 23:24] rxwei commented on #53
I'd actually suggest moving the definition of all convolution APIs from the standard library to swift-apis!

[2019-03-28 23:28] tanmayb123 commented on #53
That's a great idea. Just so I'm clear, can I create two PRs to move these:

1. `batchNormalized` op
1. `_TFConv2DBackpropInput` op
1. `_TFConv2DBackpropFilter` op
1. `convolved2D` op
1. `averagePooled` op
1. `maxPooled` op
1. `Padding` enum

To a new `Ops.swift` file in this repo?

[2019-03-29 00:18] rxwei commented on #53
[swift-apis/Sources/DeepLearning/Operators.swift](Sources/DeepLearning/Operators.swift) would be the best place to put them.

[2019-03-29 04:03] tanmayb123 commented on #53
@rxwei quick question: I'm trying to create a differentiable function that can determine the output shape of the transposed convolution layer. This is what I've got:

[code]

Of course, this isn't differentiable:

[code]

Any tips as to how I can make this differentiable? `_TFConv2DBackpropInput` requires knowing its expected output shape.

[2019-03-29 04:09] tanmayb123 commented on #53
Also - separate question - is casting tensors to different values going to be differentiable? Will I be able to do something like this:

[code]

[2019-03-29 08:52] tanmayb123 commented on #53
I've implemented this layer in #64.

[2019-03-29 10:02] #53 closed

[2019-03-31 02:01] tanmayb123 opened #67 "Multiple return parameters"
I'm trying to implement a simple/limited version of the `meshgrid` op. This is what I've got:

[code]

Of course, that can't be made differentiable because tuples aren't differentiable. So, I had to implement this:

[code]

It works, but it's not a very elegant solution. Thoughts:

1. Will tuples ever be differentiable?
2. This could be made more a bit more elegant by returning an array of tensors

[2019-03-31 02:22] rxwei commented on #67
Extensions and protocol conformances for compound types (also called structural types) is part of Swift's roadmap:
https://github.com/apple/swift/blob/master/docs/GenericsManifesto.md#extensions-of-structural-types. When this is possible, tuples of types that conform to `Differentiable` will conform to `Differentiable`.

That said, I may decide to define a bunch of differential operators overloade

[2019-03-31 02:50] rxwei commented on #52
FWIW, here's an example RNN implemented using the Swift of TensorFlow Deep Learning Library: https://gist.github.com/rxwei/ce6644efad8f229651050e096c05ccbb.

Most people are often stuck at these two things on their first try:
* Defining a layer with multiple inputs and outputs.
    * Answer: Define a `struct Input : Differentiable { ... }` and `struct Output : Differentiable { ... }` in your layer

[2019-03-31 09:14] tanmayb123 opened #68 "Recursive Neural Networks (structured data/trees)"
I can't wait for AutoDiff to support control flow. On that topic, I had a quick question: how easy/difficult would it be to implement recursive (not recurrent) neural networks? (https://stackoverflow.com/questions/26022866/how-can-a-tree-be-encoded-as-input-to-a-neural-network)

Could I do something like this (this is a hastily written sample only): https://gist.github.com/tanmayb123/c57c956120d37

[2019-03-31 09:21] tanmayb123 commented on #68
To make the structure a bit more clear, here's a picture: https://imgur.com/a/AF9llFX

Each circle is a node - every node that has 2 connections has a non-nil value in the `connections` variable, but every node with 1 connection is a "leaf node" and has a non-nil value in the `encoding` variable. The values are represented with words at the moment, but will be word vectors in the implementation.

[2019-03-31 09:22] rxwei commented on #68
This style can work, but it is not recommended.  We recommend using recursive algebraic data types (indirect enums) to represent trees.

[code]

You can make the whole thing conform to `Differentiable`. The compiler currently doesn't synthesize the conformance yet so you need to do it by hand.

[2019-03-31 09:25] rxwei commented on #68
Backpropagation doesn't necessarily require control flow differentiation once you are comfortable using pullbacks. Here's an RNN example: https://gist.github.com/rxwei/ce6644efad8f229651050e096c05ccbb.

[2019-04-01 06:23] Shashi456 opened #69 "Breaking down the Layers.swift file"
So the layer.swift file is long and since we are actively working on adding layers #54 , it might make more sense to break down the file into convolutions, pooling, recurrence and other such files. Might make the code overall more readable.
@rxwei @tanmayb123 Thoughts?

[2019-04-01 07:13] rxwei commented on #69
Sounds reasonable to me. Feel free to send a PR.

[2019-04-01 17:46] eaplatanios commented on #69
Also started breaking down the operators file in #70 , so it may make sense to follow a similar pattern and create a `Layers` directory.

[2019-04-04 11:37] Shashi456 opened #77 "Adding Test Cases for Layers in Layer.swift file"
There are a lot of layers which dont have test cases. I will start with adding test cases for Global Average Pooling and Global Max pooling, yet many are left. I will also try to make a list of which ones do and which ones do not.

Also i thought this could be a good first issue if someone wanted to contribute.

[2019-04-17 01:26] tanmayb123 opened #91 "Wrapper to enable recurrent cells to handle sequential input"
In Flux (machine learning for Julia) you can wrap an RNN Cell in a `Recur` type so it can keep track of the hidden state for you. Here's an example from their code:

[code]

Would it be valuable to have something similar with swift-apis?

[2019-04-17 01:30] rxwei commented on #91
Interesting. I think so. Would you like to prototype it?

[2019-04-17 01:37] tanmayb123 commented on #91
Sure thing, let's get the cells merged in first though.

[2019-04-17 01:46] jekbradbury commented on #91
I'm not sure this API is as good a fit for Swift as it is for Julia--we've tended to avoid mutation here. Instead it might make sense to expose a `RNN<CellType>` layer that folds its underlying cell over an input array or tensor and returns an output array or tensor.

[2019-04-17 01:49] tanmayb123 commented on #91
Thanks for the suggestion James! I'll submit the PR for that soon.

[2019-04-17 01:51] rxwei commented on #91
I think it's better to start prototyping a sequence-to-sequence layer that's generic over RNN cells once `Array` conforms to `Differentiable`, before trying layers that mutate internal states. For example:

[code]

[2019-04-18 07:05] rxwei commented on #52
Update: #80 added the `RNNCell` protocol and #71 added `SimpleRNN` and `LSTM`. We still need to add GRU and hopefully NTM.

[2019-04-18 07:07] rxwei commented on #91
`Array` now conforms to `Differentiable` thanks to work done by @eaplatanios and @marcrasi. We can go ahead and add an `RNN` layer now.

[2019-04-18 07:23] tanmayb123 commented on #91
Hooray! Should I also add the cells back with this PR? We can merge when TF-440 is resolved?

[2019-04-18 07:24] rxwei commented on #91
It's already resolved and the cells are added back.

[2019-04-18 07:24] tanmayb123 commented on #91
Yeah just realized that sorry.

[2019-04-18 07:43] tanmayb123 commented on #91
Here's a quick sketch: https://gist.github.com/tanmayb123/33a337f5937cc588c2abc413b4e91343

[2019-04-18 07:52] rxwei commented on #91
* It may be better to make `init` take a factory closure that creates a cell instead of a cell instance, because it may be confusing when `Cell` is a value type (that is, when the cell inside gets optimized but the cell you used to initialize the `RNN` doesn't).
* The use of `map(_:)` isn't quite right here, since `map(_:)` does not semantically guarantee the order. The right operator to use is `r

[2019-04-18 08:20] tanmayb123 commented on #91
Alright I've made some updates: https://gist.github.com/tanmayb123/33a337f5937cc588c2abc413b4e91343

[2019-04-18 21:46] cgarciae opened #101 "Numpy like slice"
Hey, I am having a lot of fun learning Swift via S4TF and reading the new features you guys are implementing, the project seems to be moving very fast :)

I was a little worried when I tried to do a simple slice and found out that it was more complicated than I expected. To try to make things more familiar I implemented a `Slice` enum and extended the `Tensor` struct with a new `slice` method that

[2019-04-18 21:56] rxwei commented on #101
Hi @cgarciae, thanks for bringing this up! Numpy-style advanced slicing/indexing in our tensor library just landed yesterday (PR https://github.com/apple/swift/pull/23684 by @eaplatanios). There's also a [discussion thread](https://groups.google.com/a/tensorflow.org/forum/#!msg/swift/LPDeqmFU8n4/RcseggTtBwAJ) on the mailing list.

In Swift, it is more common to define custom `subscript` operators

[2019-04-18 22:27] cgarciae commented on #101
@rxwei excellent! Looks like a very good step forward :)

I read that `v0.3` will land soon, will this be included? It would be great because currently I can try the new features, failed to build S4TF on my ubuntu machine.

BTW: I reimplemented this via `subscript` and it looks great but you cannot `throw` so reporting problems to he user become dificult, even if the output was a `Tensor?` the use

[2019-04-18 22:45] rxwei commented on #101
Yes, it will be included.

"Throwing subscripts" have been discussed in the Swift community before, but was never pushed to become a proposal. While it may be possible in the future, throwing slicing/indexing is not a common thing in Swift numerics and can make optimizations such as graph program extraction hard. I think runtime error handling for numerics in TensorFlow doesn't have to be in the b

[2019-04-19 02:50] cgarciae commented on #101
I see it makes sense.

The current implementation of `slice` can crash but somehow doesn't `throw`, this is due to the same reason? This seems to contradict Swift's safety but I get that its preferable to help the compiler in the short term.

Thanks for the comments!

[2019-04-19 03:45] lattner commented on #91
Amazing, great work!!!

[2019-04-19 04:38] rxwei commented on #101
This is because the TensorFlow backend is producing a runtime error, and Swift for TensorFlow's runtime doesn't handle it well yet. We definitely want to improve this over time!

[2019-04-19 13:14] eaplatanios commented on #91
Given the current limitation of auto-diff for control flow, wouldn't it be better to delay adding an RNN that uses a for-loop until we can train it? Also, I believe there should be a discussion about how to implement RNNs so that they're efficient. The current approach in Python that uses TensorArrays is nice because it also allows parallelizing loops or parts of loops (e.g., in multi-layer RNNs).

[2019-04-19 18:46] tanmayb123 commented on #91
In terms of the auto-diff control flow problem, we could just implement a custom VJP for now. (although waiting for the automatic version would be easier ;))

[2019-04-19 19:09] rxwei commented on #91
It'd be nice to introduce multiple variations of `RNN` since it's not always necessary return all outputs. Keras [RNN](https://keras.io/layers/recurrent/) layer does this via flags, but we can do it more safely using types.

[2019-04-19 22:50] cgarciae opened #104 "Simple Optimizer Test"
Hey S4SF team, I am trying a very simple AD exercise using Adam. Since Adam requires a `Layer` type I created this very simple `Variable` struct that just holds the state. In this example I am just trying to minimize `x^2`:
[code]
It appears that after update `layer` is not changing its `x` value:
[code]
Any idea why this not minimizing `x`?

[2019-04-19 22:52] rxwei commented on #101
@cgarciae Is it okay if I close this issue, since numpy indexing is already in?

[2019-04-19 22:55] rxwei commented on #104
This is because standard optimizers [only work on tensors](https://github.com/tensorflow/swift-apis/blob/cfefd63fa60a55d1da1e2a412ed561eb3448e691/Sources/DeepLearning/Optimizer.swift#L93). To optimize general numeric values, you can currently use the manifold optimizer `RiemannSGD`.

[2019-04-19 22:57] rxwei commented on #104
We plan to generalize out vector space protocols in order to be able to generalize these optimizers for all real vector types (`Float`, `Double`, `Float80`, `Tensor<BFloat16>`, `Tensor<Float16>`, etc). It's coming soon!

[2019-04-19 23:51] cgarciae commented on #104
@rxwei thank for the info! But you will still need to create a Layer that uses these non-tensor types or will you be able to optimize other differentiable types like `Float` directly?

[2019-04-19 23:58] rxwei commented on #104
Ideally we should be able to update any model with mixed parameters as long as the model conforms to `VectorNumeric`.

[2019-04-20 06:33] #91 closed

[2019-04-20 23:32] davidcode00 commented on #54
@rxwei , I am willing to contribute. Can I implement one the above listed layers?

[2019-04-20 23:36] rxwei commented on #54
Absolutely! What would you like to implement?

[2019-04-20 23:43] davidcode00 commented on #54
I am planning for Conv 3D Layer.

[2019-04-20 23:45] rxwei commented on #54
Sounds great. Look forward to your PR.

[2019-04-22 05:40] Shashi456 opened #111 "Implementing options in various Layers"
Currently, we define all layers assuming everything to be true by default. For example, `bias` within a variety of layers could be added as a boolean option, and initialization of the recurrent layers is done by `glorotUniform`, when more initializations are added, we might also want to offer that flexibility to the user.

Similarly within convolution layers and other layers that are present and a

[2019-04-22 07:46] Shashi456 commented on #54
@rxwei @dan-zheng I wanted to ask if it'd be possible to add more aliases for different kinds of layers in the repo?
For example `GlobalAvgpooling = GlobalAveragePooling` etc.
and maybe also for the losses.
Like `Meansquarederror = MSE`  and `sigmoidcrossentropy = XENT`

[2019-04-22 21:38] rxwei commented on #54
IMO it is ideal to stick with one set of names for consistency in all our models and example code. Currently we are leaning towards consistency with Keras. This will ensure we have overall consistency in our recommendations, while the user has the full freedom to define any aliases they want in their libraries.

[2019-04-24 00:36] tanmayb123 commented on #111
I'd say that it's great to have it as an option & that if statements would be the best way to do this. With autodiff supporting control flow, a lot of redundancy will be reduced.

[2019-04-24 00:50] tanmayb123 opened #115 "'SinModel.AllDifferentiableVariables' and 'SinModel.CotangentVector' must be equivalent"
I'm working on an example with @brettkoonce, which is an RNN that can predict the `sin` function. This is the code I've got so far: https://gist.github.com/tanmayb123/366bc39caa18d71ed7ea0bd1d07e0a79

I'm getting this error:

[code]

I'm 99% sure this is being caused by the `RNN<Cell: RNNCell>` wrapper. How can we fix this?

I'd love your thoughts on this @rxwei.

[2019-04-24 00:51] tanmayb123 commented on #115
A quick thought on this: instead of having the `RNN` layer, couldn't we just add its functionality as an extension to the `RNNCell` protocol itself? That would make the protocol much more useful as well.

[2019-04-24 00:54] tanmayb123 opened #116 "RNNCell output: `Output` and `State`?"
There's something that's really bugging me about the RNNCell protocol: that `TimeStepOutput` is separate from the `State`. RNN Cells, at least as far as I've seen them in other languages, will _always_ only return the hidden state, and it's up to another Dense layer (or some counterpart) to make process the hidden state.

In that case, why keep them separate? Why not just say that RNN Cells _just_

[2019-04-24 01:21] brettkoonce commented on #115
Very fancy, @tanmayb123!  RiemannSGD produces a slightly different error, but I'm just changing things randomly:

    main.swift:41:17: error: type 'SinModel.TangentVector' does not conform to protocol 'VectorNumeric'
    var optimizer = RiemannSGD<SinModel, Float>(for: model, learningRate: 0.01)

[2019-04-24 07:38] dan-zheng commented on #111
Conditionally conforming `Optional` to `Differentiable` may be a good first step.
[code]

[2019-04-24 20:52] rxwei commented on #116
If we use `State` as `Output`, both the output and the next state will have to be included as part of `State`. However, it is not ideal to always pass the last hidden state and the last output as part of `Input`. @jekbradbury What do you think?

[2019-04-25 00:01] tanmayb123 commented on #116
The thing that I’m wondering is why do we need ‘Output’ in the first place? RNN Cells only return States, if I’m not mistaken?

[2019-05-03 19:44] Shashi456 commented on #25
@rxwei I'm extremely keen to work on this, with #117 and #76 we will be done with pooling layer implementations. We have almost all layers needed for most basic classification networks. Although before implementation, are there things you would recommend to read up on and then start a discussion here to decide on some sort of specification for the implementation?

[2019-05-18 10:41] Shashi456 opened #124 "swift-build errors"
so I did build the master before and after, and `swift build` throws these errors :
[code]

[2019-05-18 10:50] Shashi456 commented on #124
oh wait, is this because i'm not on the nightly build and i'm on the tensorflow 3.1 build?

[2019-05-18 16:07] dan-zheng commented on #124
Yes, this is because the 3.1 release is too outdated.
I'll release a new macOS toolchain today. Ubuntu nightly releases should work.

[2019-05-18 16:09] Shashi456 commented on #124
Sorry! I should've checked with nightly. I'll close the issue .

[2019-05-18 16:09] #124 closed

[2019-05-18 16:14] dan-zheng commented on #124
Thanks again for your patience!

Out of curiosity: how do you develop `swift-apis`?
Do you use macOS or Ubuntu?
Do you build `swift-apis` with SwiftPM (`swift build`) using a toolchain from [`Installation.md`](https://github.com/tensorflow/swift/blob/master/Installation.md)?

Please let us know, so we can be informed about what workflows matter to you!

[2019-05-18 17:18] Shashi456 commented on #124
@dan-zheng I use a weird workflow xD. I have a windows system and windows has no viable swift support yet let alone s4tf. So, I found a workaround by managing a WSL - Windows subsystem for Linux, Linux18.04, since currently I mostly contribute to this repo. I build and test my repo within it. REPL doesn't work as of now.

[2019-05-18 17:50] dan-zheng commented on #124
I see, that's interesting. Thanks for sharing 🙂

[2019-05-21 06:38] Shashi456 opened #127 "Adding more Optimizers and Losses"
Just a small-ish roadmap to different Optimizers and losses we can look at to add :

Optimizers:-
- [ ] Adam
- [ ]
- [ ]
- [ ]

Losses :-

[2019-05-21 06:43] rxwei commented on #127
Thanks for listing these!

[2019-05-21 06:49] Shashi456 commented on #127
@rxwei just a small roadmap, so that we have in mind what we need to add.

[2019-05-22 06:46] liberium commented on #127
Maybe it would be better to organise this as a project? It's not a pull-request by nature.

[2019-05-22 06:53] Shashi456 commented on #127
@liberium. This is not priority right now. I wrote this task list so that we know what we have and what we don't. We are currently implementing all the layers. This is just a simple checklist so that we know where we are, and if someone wants to implement they can help us. Issues are a good way to get open source contributions.

[2019-05-23 03:12] Shashi456 commented on #54
#130 shows that upsampling doesn't work. We are currently looking at ways to fix it. One way to do it is, to take an approach inspired by the Keras Implementation of the [same](https://github.com/tensorflow/tensorflow/blob/a5c387b5ed78c9126424618d5c70f51cd3799857/tensorflow/python/keras/layers/convolutional.py#L2077).

[2019-05-23 03:13] dan-zheng commented on #54
To be precise, only UpSampling3D doesn't work, because it works with 8-D tensors that are too high-dimensional for broadcasting.

[2019-05-23 15:58] #104 closed

[2019-05-23 16:01] dan-zheng commented on #101
Closing, as advanced index/slicing APIs were added in https://github.com/apple/swift/pull/23684.

There's no documentation currently, but the code is [here](https://github.com/apple/swift/blob/tensorflow-0.3/stdlib/public/TensorFlow/Ops.swift#L1718). Some examples:
[code]

[2019-05-23 16:01] #101 closed

[2019-05-23 16:09] Shashi456 commented on #77
@dan-zheng can you add a good first issue tag label to this?

[2019-05-25 10:39] Shashi456 commented on #127
@dan-zheng @rxwei so this Google group thread [here](https://groups.google.com/a/tensorflow.org/forum/m/#!topic/swift/nIVNOJ1RDYA) . Talks about regularization. Although we are a little far from that stage right now. I think one functionality we should look at adding is retrieving model weights. Is there an easy way to add this ? Could we start looking at this I would definitely like to help in ad

[2019-05-28 05:50] rxwei opened #134 "Fix license header and indentation in Dataset.swift"
See comment https://github.com/tensorflow/swift-apis/pull/133#issuecomment-496374212.

[2019-05-28 06:03] Shashi456 commented on #134
I'll take care of this.

[2019-05-28 07:24] #69 closed

[2019-05-28 07:33] #134 closed

[2019-05-28 18:47] rxwei opened #138 "Rename and refactor convolution and pooling operators."
We've decided to rename existing convolution and pooling methods to something more approachable and discoverable, following precedents in other frameworks.

- [ ] Change method [`Tensor.convolved2D(withFilter:strides:padding:)`](https://github.com/tensorflow/swift-apis/blob/ca8ac09285b0aaa7c6bbd08c375b1ba2b9e259e9/Sources/DeepLearning/Operators.swift#L429) to a **top-level function** named **`conv

[2019-05-28 18:56] QuantumTCode commented on #138
I'll get to work on this, will post updates! =)

[2019-05-28 18:57] rxwei commented on #138
Than you @QuantumTCode!

[2019-05-28 18:59] Shashi456 commented on #138
@rxwei why not just add aliases?

[2019-05-28 19:18] rxwei commented on #138
We never intended to keep names like `convolved2D`, `maxPooled2D` or `avgPooled2D` around. It's an artifact from early days of Swift for TensorFlow development. Since the project is very young, we would like to be able to improve and iterate quickly without baggage, and thus are not developing for user-facing backwards compatibility.

Yep, you are right!

[2019-05-28 23:42] rxwei commented on #115
Hey @tanmayb123, sorry for the delayed response! We are close to being able to refresh and simplify all optimizer APIs by removing `AllDifferentiableVariables` and refactoring `Tensor`'s `VectorNumeric` conformance. I'll update this issue when the time comes.

[2019-05-30 17:48] Shashi456 commented on #111
@dan-zheng I would like to parallely work on adding this. Could you tell me how i could go about conforming `Optional` to `Differentiable`?

[2019-05-31 05:22] rxwei opened #153 "Correct 'XCTAssertEqual(_:_:)' argument order."
#109 moved all TensorFlow APIs from apple/swift to this repository. However, some test assertions weren't updated because the argument order of the `expectEqual(_:_:)` function is different from that of `XCTAssertEqual(_:_:)` in that `expectEqual(_:_:)` expected the **first** argument to be the expected value, while `XCTAssertEqual(_:_:)` expected the **second** argument.

Here's a concrete exampl

[2019-05-31 05:23] eaplatanios commented on #153
Good catch! I'll take this on tomorrow.

[2019-05-31 05:25] rxwei commented on #153
Thanks Anthony! If you are too busy with existing PRs, parhaps @Shashi456 could help also.

[2019-05-31 05:34] eaplatanios commented on #153
Thanks Richard, that would be great! Generally, I'll try to get as much in by Saturday because after that I am traveling to give a talk at NAACL and organize a workshop at ICML, right before proposing for my thesis :P I'll still be online after Saturday, but way busier for the next 2-3 weeks.

[2019-05-31 05:42] rxwei opened #154 "Make Tensor conditionally conform to ElementaryFunctions."
[SE-0246](https://github.com/apple/swift-evolution/blob/master/proposals/0246-mathable.md) introduced the [`ElementaryFunctions`](https://github.com/apple/swift-evolution/blob/master/proposals/0246-mathable.md#proposed-solution) protocol. `Tensor` should conform to it when `Scalar` conforms to `TensorFlowFloatingPoint`.

This is one crucial step to making _simplified optimizers_ possible. I'll hav

[2019-05-31 05:43] Shashi456 commented on #153
:o @eaplatanios All the best for the NAACL talk and ICML workshop, Absolutely amazing stuff.

and @rxwei yea alright, I'll take a look into this.

[2019-05-31 06:48] eaplatanios commented on #153
Thanks @Shashi456! :)

[2019-05-31 06:58] eaplatanios commented on #116
I personally believe that the separation of semantics between `State` and `Output` is nice, but indeed not super necessary. It probably eventually comes down to how RNN cells are most frequently used and I think that in deep learning it's very often to have distinct notions of state and output and many people think of them that way. For this reason I would lean more towards keeping them separate.

[2019-05-31 06:59] eaplatanios commented on #127
@Shashi456 I believe that regularization schemes are heavily intertwined with the training abstractions, which do not yet exist in this repo. It would be nice to start a discussion around them at some point though.

[2019-05-31 07:31] rxwei opened #160 "Update doc comments on non-mutating API to use proper wording."
Doc comments for non-mutating methods often starts with `Returns a ... by <verb>ing ...` instead of `<Verb>s ...`. Quite a few doc comments in the library do not follow this guideline yet and should be updated.

[2019-05-31 08:13] rxwei opened #161 "Fix failing tests on Linux."
`TrivialModelTests.testXOR` has been failing on the Linux CI machine. It does not fail on macOS. This also seems related to the case where `-O` is enabled on the `TensorFlow` module in https://github.com/apple/swift/pull/25166.

[code]

[2019-05-31 08:14] rxwei commented on #161
cc @bgogul

[2019-05-31 17:30] bgogul commented on #161
Here is the stack trace of the crash:
[code]

[2019-05-31 17:32] rxwei commented on #161
Could be related to https://github.com/apple/swift/pull/23837.

[2019-05-31 17:44] bgogul commented on #161
@rxwei, I think you are right. It looks like the assertion in that test fails and xctest is trying to print a message with the tensor.

[2019-05-31 18:13] rxwei commented on #161
If it takes too long to fix, it’s fine to revert it to get a green build status first. The tensor pretty printing implementation is known to have other bugs as well.

[2019-05-31 18:16] Shashi456 commented on #161
@bgogul @rxwei also dataset tests fail.

[2019-05-31 18:57] bgogul commented on #161
I think I found the problem and it has to do with the code for the TensorFlow library multiple times: once during the compilation of stdlib and once during the compilation of tests. I removed the code from `TensorFlow/CMakeLists.txt`, rebuilt the whole toolchain and the tests pass.

Here is a possible plan forward:
  - on `apple/swift:tensorflow`, remove the code from `TensorFlow/CMakeLists.txt` a

[2019-05-31 19:54] eaplatanios commented on #161
@bgogul what do you mean when you say "code"? Is it just the tests code being duplicate? Or do you also refer to the sources of the `TensorFlow` module itself? If it is the sources of the `TensorFlow` module, I'm not sure how we can remove them but keep it part of the standard library.

I wonder what `@testable import TensorFlow` does. Does it prioritize the local `TensorFlow` module or does it al

[2019-05-31 20:51] rxwei commented on #161
`@testable import` imports a module that has been _compiled for testing_. If a module is _compiled for testing_, all `internal` symbols will be accessible to whoever imports it using `@testable import`.

I don't see any way `@testable import TensorFlow` can import the `TensorFlow` module that's part of the Swift for TensorFlow toolchain, because the one in the toolchain has not been compiled for t

[2019-05-31 22:40] bgogul commented on #161
I meant the TensorFlow module. For the time being, I am building a toolchain with the `tensorflow-swift-apis` so that we can use it to run tests in swift-apis repository.

For testing things locally on your machine, just rename `tensorflow-swift-apis` to something else and rebuild the toolchain.

[2019-06-01 16:25] Shashi456 commented on #161
@bgogul does #163 solve these issues?

[2019-06-01 18:16] bgogul commented on #161
Yes, Pawan. Let us close this issue then?

On Sat, Jun 1, 2019, 9:25 AM Pawan Sasanka Ammanamanchi <
notifications@github.com> wrote:

[2019-06-01 18:22] Shashi456 commented on #161
@bgogul Yeah, We should.

[2019-06-01 20:53] #161 closed

[2019-06-01 22:41] #153 closed

[2019-06-01 22:46] rxwei opened #166 "Fix indentation in TensorHandle.swift."
It seems that there are a few tabs in [TensorHandle.swift](https://github.com/tensorflow/swift-apis/blob/master/Sources/TensorFlow/Core/TensorHandle.swift). Spaces should be used instead of tabs.

[2019-06-02 17:34] #166 closed

[2019-06-05 00:28] rxwei commented on #138
Thank you @QuantumTCode!

[2019-06-05 00:28] #138 closed

[2019-06-05 06:15] Shashi456 opened #178 "Conditionally Conform Optional to Differentiable"
The bug can be viewed [here](https://bugs.swift.org/browse/TF-499?jql=labels%20%3D%20StarterBug).

This is the first step in solving #111. You can view the discussion [here](https://github.com/tensorflow/swift-apis/issues/111#issuecomment-486106358).

This issue is for discussion of the same.

CC : @dan-zheng @bartchr808

[2019-06-05 19:20] rxwei opened #179 "Define a derivative for 'padded(forSizes:with:)'."
A custom derivative should be defined for API [`padded(forSizes:with:)`](https://github.com/tensorflow/swift-apis/blob/55adef71ec36c9ee660ab590179692863a247172/Sources/TensorFlow/Operators/Basic.swift#L677).

[2019-06-06 06:45] rxwei opened #180 "Update README to reflect the new role and structure of the library"
The entire TensorFlow library has been moved from apple/swift to this repository, and the original `DeepLearning` module has been renamed to `TensorFlow`. One important remaining task is to change the README of this repo to describe the TensorFlow library as a whole with examples, and explain the structure of this new restructured repo. After that, send an email to swift@tensorflow.org summarizing

[2019-06-06 06:56] rxwei commented on #178
Thank you for filing the issue! Before we go about implementing it in the standard library, it is not 100% clear this is the right direction, some prototyping offline is necessary. There are lots of issues to think about, for example: What should the `TangentVector` of an optional be? Should `Foo?.TangentVector` be equal to `Foo.TangentVector?`? Beyond semantic choices in the implementation, there

[2019-06-06 07:42] thommackey commented on #25
Exciting that this is being discussed! It's probably a little early for FRs, but I'd like to encourage the implementation to support eventual conversion/export to other formats e.g. ONNX & CoreML. I'm assuming the simplest (?) way would be to support saving a .pb file, which is one of TensorFlow's standard saved model formats. That way users could use all the existing .pb conversion tools. But it

[2019-06-07 19:12] Mistobaan opened #181 "Conv2D Signature and initialization"
Reading the [Conv2D Documentation]( https://www.tensorflow.org/swift/api_docs/Structs/Conv2D) I noticed two issues:

1. The order of the arguments is not consistent across all the methods:
-  `(filter, bias, strides, padding, activation)` (which I prefer)
- `(filter, bias, activation, strides, padding)`.

2. The use of a canned initialization (glorotUniform) in the Api where you give only the seed

[2019-06-07 19:31] Shashi456 commented on #181
@mistobaan I think we all definitely agree that the layers aren't in the final shape that we'd want them to be. There are a variety of issues on layer improvement like #111, #54, #38.

As far as general initialization is concerned currently the only initializer that is present is the glorot uniform. We will work on adding more in the future. Please do help in adding us more of these if you want to

[2019-06-07 19:33] Shashi456 commented on #180
Also @rxwei, can you update the release on this repository when you update the readme? I know we have updated it on the mailing list and original s4tf release, but since this is main repo, it'd be good if we could do it on here as well.

[2019-06-08 13:43] Dash2507 commented on #179
Added PR https://github.com/tensorflow/swift-apis/pull/184

[2019-06-08 13:47] Shashi456 commented on #179
@Dash2507, you can link it in your pr. By adding `Fix #179`, in your PR message.

[2019-06-10 05:24] #179 closed

[2019-06-11 20:21] rxwei opened #199 "Implement requirements for `ElementaryFunctions` as top-level functions"
Implement all math functions required by the [`ElementaryFunctions`](https://github.com/apple/swift-evolution/blob/master/proposals/0246-mathable.md#proposed-solution) protocol as top-level functions on `Tensor where Scalar: TensorFlowFloatingPoint`.

[2019-06-11 21:04] Mistobaan opened #201 "Swift Code Style"
Can we use [swiftlint](https://github.com/realm/SwiftLint) to standardize the format for the repo? This will avoid reviews about formatting errors and speed up the overall process.

[2019-06-11 22:14] rxwei commented on #201
Thanks for the suggestion! This repo is following the [Google Swift Style Guide](https://google.github.io/swift/) with the exception that we use 4-space indentation. This style guide is different from the standard that swiftlint implements. We'd recommend using [swift-format](https://github.com/apple/swift/blob/master/docs/SwiftFormat.md) to format your code, and Swift for TensorFlow toolchains co

[2019-06-11 22:15] kefirski opened #204 "Learning with GPU docs"
It's unclear how does GPU/TPU support work in swift for tensorflow. I haven't found any docs on this topic.

In PyTorch I am able to cast some tensor from cpu to gpu by calling special method `.to(device)` like` x.to(t.device("cuda:2"))` in order to cast `x` to gpu with id equal to `2`.

How does this work in swift for tf? I noticed that I could change env variable in collab from `None` to `GPU` a

[2019-06-11 22:23] rxwei commented on #204
Currently, device placement in Swift for TensorFlow (and TensorFlow in general) is per-operation, not per-tensor. You can use the [`withDevice(_:_:perform:)`](https://www.tensorflow.org/swift/api_docs/Functions#/s:10TensorFlow10withDevice__7performxAA0D4KindO_SuxyKXEtKlF) API (implemented [here](https://github.com/tensorflow/swift-apis/blob/master/Sources/TensorFlow/Core/Execution.swift#L32)) to s

[2019-06-11 22:28] #204 closed

[2019-06-12 03:28] rxwei opened #208 "LazyTensor file and directory TODOs"
- [LazyTensorOperation.swift](https://github.com/tensorflow/swift-apis/blob/master/Sources/TensorFlow/LazyTensor/LazyTensorOperation.swift) needs a _TensorFlow Authors_ license header.
- The `LazyTensor/` directory should probably be placed in `Core/` since it is not a top-level user feature and is closer to the runtime.

[2019-06-12 04:08] rxwei opened #210 "@_fixed_layout -> @frozen"

[2019-06-12 04:19] rxwei commented on #210
Done in #211.

[2019-06-12 04:20] #210 closed

[2019-06-12 04:21] rxwei opened #212 "Replace 2018 with 2019 in all license headers."
Happy belated new year.

[2019-06-12 04:32] Shashi456 commented on #212
Hilarious 😂

[2019-06-12 04:48] #208 closed

[2019-06-12 18:34] Mistobaan commented on #201
How do you invoke swift-format?
`find . -iname \*.swift -exec /Library/Developer/Toolchains/swift-tensorflow-DEVELOPMENT-2019-06-06-a.xctoolchain/usr/bin/swift-format -in-place {} +`
returns a lot of changes on the current source code and lots of Parse Errors:
[code]

Can we add the swift-format step to the docker build?

[2019-06-12 18:59] #212 closed

[2019-06-12 22:06] rxwei commented on #201
It is possible that swift-format hasn't been updated for a while and that it no longer works with the latest Swift HEAD, which we are based on. I format manually so I'm not very sure about the state of code formatters. I'll update this issue when there's a better solution.

[2019-06-13 17:30] jon-tow commented on #127
@Shashi456 Categorical Cross-Entropy seems to already be implemented through Softmax Cross-Entropy with Logits. Maybe we can cross it off the list?

[2019-06-13 18:26] Shashi456 commented on #127
@rxwei So I'm almost done with adding all the losses. Thanks to @Descartess and @jon-tow for helping out in that matter. One of the only listed losses remaining is #31 which is the triplet loss, If you merge it I can add a test for it.

cc : @dan-zheng @eaplatanios

[2019-06-14 00:44] jon-tow opened #237 "Introduction of a Stability Term for Numerical Stability."
Are there any plans to introduce a stability term such as the [epsilon constant in the Keras backend](https://www.tensorflow.org/api_docs/python/tf/keras/backend/epsilon)? This could be useful in the Loss api for losses that depend on ratios.

[2019-06-14 01:29] eaplatanios commented on #237
Swift already has [an API for that for floating point numbers](https://developer.apple.com/documentation/swift/floatingpoint/3017999-ulpofone).

[2019-06-14 01:50] jon-tow commented on #237
For some reason I assumed this wasn't built into the language, sorry about that.

[2019-06-14 01:50] #237 closed

[2019-06-14 01:54] jon-tow commented on #237
@eaplatanios For some optimizer classes, there are these `epsilon` instance properties used to improve numerical stability. Would you suggest replacing these fields with `ulpOneOf`?

[2019-06-14 02:17] eaplatanios commented on #237
No worries. We could set the optimizer `epsilon`s default values to `ulpOfOne`, but I would suggest keeping the arguments so that users can control the amount of smoothing applied during optimization. Numerical optimization is often unstable and sensitive to smoothing so it's good being able to control for that.

[2019-06-14 02:27] jon-tow commented on #237
Good idea. Thanks!

[2019-06-14 02:45] dan-zheng commented on #237
The API documentation for [`ulpOfOne`](https://developer.apple.com/documentation/swift/floatingpoint/3017999-ulpofone) seems to suggest that it's not suitable for approximate equality?

There was a recent pitch to add [approximate floating-point equality](https://forums.swift.org/t/approximate-equality-for-floating-point/22420?u=dan-zheng) to the standard library, which uses `sqrt(.ulpOfOne)` as t

[2019-06-15 04:48] Shashi456 opened #244 "Convolutional layers documentation inconsistency"
#138 refactored the convolutional and pooling layers, There's no self anymore in these layers after the refactoring. The documentation wasn't updated accordingly. `self` should be changed to `input`.

Refer to [this](https://github.com/tensorflow/swift-apis/pull/241#discussion_r293731261).

[2019-06-15 04:54] Shashi456 commented on #244
Also, I think while we are at it we should solve #181 with this issue.

[2019-06-15 09:21] rxwei opened #247 "Suppress LazyTensor test compilation warnings"
[code]

[2019-06-15 12:12] Dash2507 commented on #54
Hi, @Shashi456
 when seperableconv2d will be available? so that i can implement mobilenet using s4tf.

[2019-06-15 12:36] Shashi456 commented on #54
@Dash2507, sometime next week. I'm working on it locally right now, I'll push it once I'm done with the other PRs.

[2019-06-15 16:46] #244 closed

[2019-06-16 07:24] MeRajat opened #248 "unknown attribute 'frozen' @frozen"
While building swift api package on macos getting this error.

PS, I am using Xcode 10 | v0.3.1 | April 30, 2019 keychain binding. Let me know what I am missing.

 `Compile Swift Module 'TensorFlow' (36 sources)
/Users/rajat/Documents/research/swift_tensorflow/swift_dl/swift_dl/Sources/TensorFlow/Core/DataTypes.swift:149:2: error: unknown attribute 'frozen'
@frozen
 ^
/Users/rajat/Documents/resear

[2019-06-16 07:26] Shashi456 commented on #248
@MeRajat, are you building with nightly?

[2019-06-16 08:15] MeRajat commented on #248
That was quick. Thanks :)

[2019-06-16 09:01] Shashi456 commented on #54
@rxwei just had a simple question, So the convolution layers also have a zero padding layer but we already have a `padded` function, Do i write the layers anyway? I'm just trying to avoid redundancy since they would be wrappers just calling this function

[2019-06-16 09:18] rxwei commented on #54
We already have such layers, `Reshape`, for example. Adding a layer wrapper for each function is definitely not ideal and would complicate our API surface. Instead of throwing a lot of work into implementing those wrapper layers, I'd suggest trying define a `Function` (or, `Lambda`) layer that takes any arbitrary differentiable function and uses it inside `callAsFunction(_:)`. Essentially, it's go

[2019-06-16 09:19] Shashi456 commented on #54
Alright, I'll get a PR up later today.

[2019-06-16 09:36] #248 closed

[2019-06-17 18:04] jon-tow commented on #54
I've attempted an implementation of an Embedding layer but am running into problems with the Layer protocol's input type requirements. Given that an Embedding layer consumes tensors of indices (UInt/Int) there's no way to satisfy the differentiability of `callAsFunction(_:)`. Is there a work around to this?

@dan-zheng I've noticed an implementation of a Differentiable Embedding struct in the GPT-

[2019-06-17 18:06] Shashi456 commented on #54
@jon-tow did you also define a vjp for your embedding layer?

[2019-06-17 18:21] rxwei commented on #54
For now, you can define a nested `Input` structure and mark the vocabulary property as `@noDerivative`. Something like:
[code]

[2019-06-17 18:23] jon-tow commented on #54
Hey @Shashi456. Yup. It just wouldn't compile as it relied on the `Raw.gather(params:, atIndices:)` function which requires a BinaryInteger for the second argument. Thanks @rxwei I'll give it a try.

[2019-06-17 18:36] eaplatanios commented on #54
I'm not sure I understood correctly what you're trying to do, but I would
do something along the lines of:

struct Embedding<Scalar: TensorFlowFloatingPoint> {

    var embeddings: Tensor<Scalar>

    @differentiable(wrt: self)

    func callAsFunction(_ indices: Tensor<Int32>) -> Tensor<Scalar> {

        ...

    }

}

Cheers,
Anthony

On Mon, Jun 17, 2019 at 2:23 PM Jonathan Tow <notifications@

[2019-06-17 19:01] rxwei commented on #54
Specifying `@differentiable(wrt: self)` is not possible yet because the `Layer` protocol requires both `input` and `self` to be differentiable. There are definitely a lot of ways to resolve this, e.g. defining a separate protocol that `Layer` inherits from and make that protocol only require `self` to be differentiable. However, that requires some non-trivial thunking-related engineering right now

[2019-06-17 19:08] rxwei commented on #54
Hope we can merge #151 so that you can use `gathering(atIndices:alongAxis:)`.

[2019-06-17 19:15] jon-tow commented on #54
Richard's advice resolved the compiler issues I had before regarding input types. Thanks for the suggestion @eaplatanios.
The only issue left seems to be differentiating `gathering`. I'll keep an eye out for that merge. Appreciate the help folks!

[2019-06-17 20:55] bartchr808 commented on #54
Hey @jon-tow ! Actually we were mistaken but #156 already added `gathering(atIndices:alongAxis:)` so you should have access to it! 😄

[2019-06-17 20:59] jon-tow commented on #54
@bartchr808 I had some tests passing and everything seemed okay. I was wondering what was going on! Thanks for letting me know :). I'll submit a PR sometime today.

[2019-06-18 17:53] #247 closed

[2019-06-18 18:00] Shashi456 commented on #247
@rxwei there seems to be a few more warnings that pop up in my builds, notably a frozen attribute warning, is that because of my toolchain?

[2019-06-18 18:31] bgogul commented on #247
@Shashi456, I get the following warnings, but nothing related to frozen attribute:

`/usr/local/google/home/bgogul/workspace/brain/s4tf/tensorflow-swift-apis/Tests/TensorFlowTests/OperatorTests/BasicTests.swift:470:13: warning: variable 'pb' was never mutated; consider changing to 'let' constant
        var pb: (Tensor<Float>) -> Tensor<Float> = pullback(at: atTensor) { x in
[code]

[2019-06-18 18:38] Shashi456 commented on #247
@bgogul, yea I get these warnings as well.

[2019-06-18 18:42] bgogul commented on #247
https://github.com/tensorflow/swift-apis/pull/258 fixes these warnings.

[2019-06-18 18:48] Shashi456 commented on #247
Thanks a lot @bgogul.

[2019-06-18 21:44] rxwei opened #259 "Make 'gathering(atIndices:alongAxis:)' generic over 'Int32' and 'Int64'."
We need to make `Tensor.gathering(atIndices:alongAxis:)` support `Int64` indices, but we cannot do so by making the index tensor's `Scalar` type be generic over `BinaryInteger` because the TensorFlow `Gather` operator (like many other operators that take indices) only supports `Int32` and `Int64` indices.

To resolve this, we should consider adding a `TensorIndexScalar` protocol and conform only `

[2019-06-21 12:04] Descartess commented on #77
Hi @Shashi456 Any update on the list of the layers that have tests and those that don't. I wanted to pick this up

[2019-06-21 12:09] Shashi456 commented on #77
@Descartess, Haven't gotten around to making it yet. But from the top of my head, `TranposedConv2D`, `Dense`, `LSTM Cell`, `BatchNorm`, `LayerNorm` dont have tests yet.

[2019-06-21 17:53] eaplatanios commented on #259
We already have `TensorFlowInteger` in `DataTypes.swift` so I could make a PR changing to that. That's what I had done originally but I thought we wanted to stick to using `Int32` for indices everywhere due to the GPU issues that often come up when using `Int64`.

[2019-06-21 18:37] #259 closed

[2019-06-21 20:19] rxwei opened #274 "Add a 'dilations:' parameter to 'conv2D(_:filter:strides:padding:)'"
The raw operator `Raw.conv2D(_:filter:strides:useCudnnOnGpu:padding:explicitPaddings:dataFormat:dilations:)` has a dilations parameter. We should add a parameter to  'conv2D(_:filter:strides:padding:)' so that it becomes 'conv2D(_:filter:strides:padding:dilations:)'.

[2019-06-21 20:20] jon-tow commented on #274
I'll take a go at this!

[2019-06-21 20:21] rxwei commented on #274
Excellent!

[2019-06-21 20:21] Shashi456 commented on #274
@rxwei I'll take care of the conv1d and conv3d updates for dilations.

[2019-06-21 20:23] rxwei commented on #274
Awesome :)

[2019-06-21 20:45] jon-tow commented on #274
@Shashi456 I completed the conv1d updates for dilation b/c it depends on a call to conv2d. Hope that's okay with you?

[2019-06-21 20:45] Shashi456 commented on #274
@jon-tow cool.

[2019-06-22 04:15] eaplatanios commented on #201
I jus tried using swift-format and it does work but it's not very configurable which causes issues with the current codebase. Google also has [a separate formatter](https://github.com/google/swift/tree/format), but I also tried that and it messes up when using function attributes (which S4TF makes heavy use of). It's also missing a few configuration options to disable some of the more aggressive m

[2019-06-22 05:00] eaplatanios commented on #274
Resolved in #275. Thanks @jon-tow!

[2019-06-22 21:20] saeta commented on #201
CC @allevato ^^^

[2019-06-23 16:37] sjaz24 commented on #53
Trying to use the TransposedConv2D layer but getting strange error.  Below is a small example that when I run either in Colab or locally with a recent build, I get the following error. Any ideas??

`Fatal error: Incompatible shapes: [1,4,4,256] vs. [128]: file /swift-base/swift/stdlib/public/TensorFlow/CompilerRuntime.swift, line 2123
Current stack trace:
0    libswiftCore.so                    0x

[2019-06-23 16:44] Shashi456 opened #282 "Error in TransposedConv2d"
Refer to comment [here](https://github.com/tensorflow/swift-apis/issues/53#issuecomment-504767738).

Even when trying to write test cases for #174 and the transposed conv2d layer, I found a similar error and i reported it there. I think we need to add preconditions and check the layer logic thoroughly.

[2019-06-23 16:45] Shashi456 commented on #53
@sjaz24 I opened #282 for this, lets shift this conversation there, I have encountered some similar errors, would be happy to talk to you about them.

[2019-06-23 16:46] Shashi456 commented on #282
The error in question :

[2019-06-23 17:16] sjaz24 commented on #282
@Shashi456 do you think it has to do with this. Shouldn't channels (c) be filter.shape[3]. I'm looking at the original merged code, so not sure???

[code]

[2019-06-23 17:25] sjaz24 commented on #282
Note this other issue with this layer. https://bugs.swift.org/browse/TF-540

[2019-06-23 17:27] Shashi456 commented on #282
The solution also seems to be here, https://groups.google.com/a/tensorflow.org/forum/m/#!msg/swift/UUPwV01sZrE/LszG6T7dBQAJ

@sjaz24, would you be up to fix the error and write a test for the layer? I think it's the perfect opportunity for a first contribution to the repo :) , if not I'll put a PR up later today.

[2019-06-23 17:48] sjaz24 commented on #282
I've already done what he suggests locally to get by that issue but then I run into this issue so I believe them to be different issues but wanted to point out the issue in case it's related. I'll play around with it and see. I really find this line below weird. Hmmm.. I'll give it a go at fixing it.

let c = filter.shape[2]

[2019-06-23 17:52] Shashi456 commented on #282
@sjaz24 maybe you could take a look at the tests I wrote in #174, the filter dimensions and other dimensions were inspired by running a transposed layer in tensor flow, I ran into the filter depth and out backprop error there as well and just played around with the dimensions until they worked.  Maybe that could be another starting point.

[2019-06-24 14:25] rxwei commented on #274
This change broke a lot of existing code because the newly added parameter does not have a default. We need to add a default argument for dilations.

[2019-06-24 14:33] eaplatanios commented on #274
@rxwei Did #277 not resolve this?

[2019-06-24 14:43] Shashi456 commented on #274
@eaplatanios, I think the parameter also needs to be made optional something like `_ dilations` or else update dilations in other repos like swift models and I think tensorflow/swift

[2019-06-24 14:49] rxwei commented on #274
#277 added defaults to layers, but not the op itself.

[2019-06-24 14:51] Shashi456 commented on #274
@rxwei I'll take this up then. Will get the PR up in a few hours? I'm working on #283 as well.

[2019-06-24 16:59] jon-tow commented on #274
Ah geez :frowning: sorry folks. @Shashi456 Why would it also need to be optional if it's given a default?

[2019-06-24 17:31] Shashi456 commented on #274
@jon-tow to keep the current implementations with conv2d intact

[2019-06-24 17:31] Shashi456 commented on #274
Ah, Looks like you put the PR already. Alright

[2019-06-24 17:41] jon-tow commented on #274
@Shashi456 I thought I'd fix my own wrong doing, rather than have you waste your time on my mistake!

[2019-06-24 17:43] Shashi456 commented on #274
@jon-tow chill xD.

[2019-06-24 17:44] rxwei commented on #274
It should not be an optional. Default arguments have clearer semantics in that everything is just a numeric value and is self-explanatory. Also, not using optionals makes it significantly easier for optimizations and lowering later.

[2019-06-24 17:57] Shashi456 commented on #282
@rxwei I had some doubts, when i'm trying to solve this, Should i open a PR and we could continue the conversation and discuss the solution there?

[2019-06-24 17:59] eaplatanios commented on #282
@Shashi456 Feel free to open a PR and continue the conversation there.

[2019-06-25 17:30] rxwei opened #291 "Remove uses of assert(false)"
`assert(false)` should not be used as a terminator because it gets compiled away in release builds. `fatalError` or `preconditionFailure` should be used instead. There are two occurrences of `assert(false)` and they have broken release builds of swift-apis, both in LazyTensorOperations.swift.

1.
[code]

2.
[code]

[2019-06-25 19:19] #291 closed

[2019-06-26 16:37] Shashi456 commented on #54
@rxwei So I've been working on the Function layer we were talking about the other day,
[code]
Does this look right? I run into this error that the layer doesn't conform to protocol of Layer and that a call function is needed. As far as i understand, for a structure to inherit a protocol, you need to extend and define all the functions in the protocol, something like abstract classes theoretically.

[2019-06-26 18:12] #274 closed

[2019-06-26 18:24] tanmayb123 commented on #54
[code]

That compiles for me.

[2019-06-27 19:22] rxwei opened #303 "Indexing Assignment error on Ubuntu 18.04 nightly toolchain (v0.4)"
This issue was discovered by @jon-tow and sent to swift@tensorflow.org.

Indexing assignment no longer works when upgrading to the most recent
toolchain nightly available: v0.4 - Ubuntu 18.04 (CUDA 10).

After entering the code below into the swift repl:

[code]

the following error occurs:

[code]

[2019-06-27 19:25] saeta commented on #303
If we can get a fix in the next few hours, we can include it in the 0.4.0 release. Else we should plan on cherry picking it into a v0.4.1 release for next week. Thanks for creating the issue @rxwei and for discovering the bug @jon-tow !

[2019-06-27 19:28] jon-tow commented on #303
No problem! Note that I'm running on Ubuntu 18.10 so I'm not sure if this is local to that version of Ubuntu? I didn't dive much into the EagerExecution.swift file.

[2019-06-29 07:19] Shashi456 commented on #127
@eaplatanios is there any optimizer which hasn't been refactored yet?

[2019-06-29 10:03] Oktai15 commented on #25
@rxwei any update about general serialization/deserialization API? It is the main feature for any framework :)

[2019-06-29 15:57] eaplatanios commented on #127
All that can be refactored currently, have been. We are missing some functionality that would allow us to simplify AdaMax that is not straightforward to add so that’s the only one using key paths right now.

[2019-06-30 15:33] dan-zheng commented on #199
Done in https://github.com/tensorflow/swift-apis/pull/214.

[2019-06-30 15:33] #199 closed

[2019-07-02 02:14] eaplatanios opened #325 "Math Protocols"
@rxwei @dan-zheng I wasn't sure where to put this, but I believe an issue here is a good place to collect our thoughts and comments. My initial thoughts are:

### `PointwiseMultiplicative`

I have a couple comments about `PointwiseMultiplicative`:
1. Similar to how `AdditiveArithmetic` defines `-` and `-=`, I believe we should define `/` and `/=` for `PointwiseMultiplicative` thus enabling efficie

[2019-07-02 02:23] rxwei commented on #325
Thanks for the write-up! I'll tag #322, [`Numeric.Magnitude`](https://forums.swift.org/t/removing-the-comparable-constraint-for-numeric-magnitude/26498) and [`AdditiveArithmetic`](https://forums.swift.org/t/additivearithmetic-conformance-synthesis-for-structs/26159) discussions on the evolution forum so that people looking at this issue can also get some context from those threads.

Yeah, everythi

[2019-07-02 02:34] eaplatanios commented on #325
By the way, reading the `AdditiveArithmetic` discussions, I tend to agree with having a separate protocol called `PointwiseAdditive` which have the same requirements but is derived differently. In this case, memberwise automatic derivations kick in only for `PointwiseAdditive` and this fits nicely with the "pointwise" semantics as "pointwise" sort of implies "memberwise".

Regarding reductions, I

[2019-07-03 04:50] sjaz24 opened #329 "_vjpConv2DBackpropInput incorrectly using shape as filterSizes argument"
_vjpConv2DBackpropInput is incorrectly passing the shape argument to conv2DBackpropFilter as the filterSizes argument instead of passing the filter shape, this is causes the following error when attempting to compute gradients for TransposedConv2D layer.

[code]

[2019-07-03 04:53] eaplatanios commented on #329
Thanks for reporting this @sjaz24 ! Would you like to open a PR with the fix you suggest?

[2019-07-03 04:53] sjaz24 commented on #329
This change seems to fix the issue for me. Change **shape** argument to **filter.shapeTensor** for the **filterSizes**parameter in the **conv2DBackpropFilter** call.

[code]

[2019-07-03 04:55] sjaz24 commented on #329
Yes, I can submit a PR. I'll need to go through the sign up process and then will do.

[2019-07-03 04:55] eaplatanios commented on #329
That's great, thanks a lot! :)

[2019-07-03 04:57] rxwei commented on #329
Thanks @sjaz24 !

[2019-07-03 20:18] sjaz24 commented on #329
Since the PR to fix this has been merged, I'm closing this.

[2019-07-03 20:18] #329 closed

[2019-07-04 16:22] Shashi456 commented on #25
Can we restart this discussion? Or atleast offer hack-y ways of making this possible until we work on this fulltime?

[2019-07-06 17:27] tanmayb123 commented on #25
Temporarily, I've just been iterating through `recursivelyAllWritableKeyPaths`, converting each one to a numpy array, and saving it as a large `npy` file. Then, when loading, I zip together the keypaths and items in the numpy array, and set the weights accordingly.

[2019-07-07 02:04] sjaz24 opened #332 "Another issue with _vjpConv2DBackpropInput"
After fixing issue #329, I've encountered another issue during backpropagation that results in the following type of error:

[code]

It took me a while to track down, but I believe it is because conv2DBackpropInput has differentiable order of wrt: (x, filter)

[code]
but _vjpConv2DBackpropInput is returning a tuple where conv2DBackpropFilter call is the first tuple item and the conv2D call is the

[2019-07-07 02:15] rxwei commented on #332
Great catch!

[2019-07-07 02:17] sjaz24 commented on #332
Thank you!

[2019-07-07 15:58] #332 closed

[2019-07-07 19:47] lattner commented on #325
FWIW, I'd love to see a bigger discusison of this, because I tend to agree that we should be using something different than the core language protocols for our layer abstractions.

Among other things, we have multiprecision floating point to deal with in our optimizers, and the core protocols really aren't designed to deal with that.  I'd love to see a discussion about these topics on the mailing

[2019-07-08 03:33] rxwei commented on #325
Happy to start with a discussion on the mailing list going forward!

[2019-07-08 18:36] Shashi456 commented on #180
@rxwei :P, Do you need help with this? Would love to create a small task list and help you out.

[2019-07-09 00:17] jon-tow opened #338 "Swift build fails on Ubuntu nightly toolchain"
Invoking `swift build` in the latest master branch fails on the Ubuntu (CUDA 10) nightly toolchain with the following stack dump summary:

[code]

Removing all code related to `batchGathering(atIndices:alongAxis:batchDimensionCount:)` in `Basic.swift` and `Core.swift` resolves the issue but I'm not sure why.

Can anyone reproduce this on an Ubuntu system? Thanks!

[2019-07-09 01:57] rxwei commented on #338
This issue has been fixed by https://github.com/apple/swift/pull/25868 a week ago. Which exact toolchain version are you using (try `swift --version`)?

[2019-07-09 02:15] jon-tow commented on #338
@rxwei Yup that was it! I was using a nightly snapshot I downloaded on July 3rd. Didn't think to upgrade. Appreciate the help as always!

[2019-07-09 02:15] #338 closed

[2019-07-10 07:03] rxwei opened #342 "Split 'Layer' into two protocols."
apple/swift#25974 makes it possible to override a protocol requirement with a `@differentiable` attribute that specifies more wrt-parameters.  This makes it possible to remove the `wrt: input` requirement from `callAsFunction(_:)` in the existing `Layer` protocol (#276) so that `Embedding`'s `Input` can be a non-differentiable type `Tensor<Int32>`. In the meantime, we also need a separate protocol

[2019-07-10 07:04] rxwei commented on #342
[code]

[2019-07-10 08:34] rxwei opened #343 "Remove 'PointwiseMultiplicative' and 'ElementaryFunctions' requirements from 'Layer'"
#322 broke some existing code, and these requirements are pretty heavyweight. We should drop these requirements for now.

[2019-07-10 08:42] Shashi456 commented on #343
Can I take this up? This would mean I'll have to remove layer :PointwiseMultiplicative' and 'ElementaryFunctions, from every layer it was added to ?

[2019-07-10 13:22] eaplatanios commented on #342
One issue is the use of `Sequential` etc., which will now be limited to `Layer`. We should think a bit about what the expected behavior should be as just directly making this change would make `Embedding` not usable within `Sequential`. I will take a look into this later today.

[2019-07-10 13:23] rxwei commented on #342
For `Sequential`, you can simply require the first generic parameter to conform to the non-`wrt: input` protocol.

[2019-07-10 13:29] eaplatanios commented on #343
@rxwei could you possibly add a test with some example code that breaks? It would be great to being in tests for breaking code so we avoid issues in the future and can better think of an appropriate design.

[2019-07-10 13:43] rxwei commented on #343
Let's hold off on this change for now. I've experienced breakage in custom defined parameterless layers, but it was simply because they were not using `ParameterlessLayer`. Thanks @Shashi456 for taking a stab!

[2019-07-10 13:43] #343 closed

[2019-07-10 13:58] rxwei opened #345 "Conform 'Array.DifferentiableView' to 'PointwiseMultiplicative', 'VectorProtocol', and 'ElementaryFunctions'"

[2019-07-10 15:06] eaplatanios commented on #342
Work-in-progress in #346.

[2019-07-10 22:10] dhasl002 commented on #52
I'll take a shot at GRU and NTM

[2019-07-11 06:02] rxwei commented on #201
This is happening https://github.com/apple/swift-format/pull/1

[2019-07-12 13:56] Shashi456 commented on #180
Would like to mention that windows development is now much easier with the introduction of Windows terminal. The only requirement is that you need ubuntu WSL and then install windows terminal (currently in preview), after which opening a ubuntu terminal and doing the usual steps. The only issue currently in windows is REPL doesn't work, but you may manually compile the files. As far as contributio

[2019-07-14 23:27] eaplatanios opened #364 "Bad Memory Leak"
@rxwei @dan-zheng I get insane memory usage when I try to run some simple reinforcement learning experiments. It looks like there is a memory bug somewhere related to partial applies in auto-diff (purely a guess based on what I saw in the profiler report). Attached is a screenshot which I hope you find helpful in figuring this out:

<img width="1321" alt="Screen Shot 2019-07-14 at 7 25 12 PM" src=

[2019-07-15 00:35] rxwei commented on #364
I’m on it.

[2019-07-15 02:44] eaplatanios commented on #364
Thanks Richard! I'm also currently compiling the latest apple/swift to see if anything has changed.

[2019-07-15 03:22] eaplatanios commented on #364
@rxwei I can confirm the leak is still there even when I use a toolchain built from the latest commit on apple/swift.

[2019-07-15 17:27] rxwei opened #365 "Make more math functions differentiable"
These functions should be made `@differentiable`.

[code]

[2019-07-15 20:06] eaplatanios commented on #364
@rxwei let me know if I can help with this in any way. Although I’m not familiar with memory management during the autodiff pass.

[2019-07-15 20:59] rxwei commented on #364
I'm working on a fix [here](https://github.com/rxwei/swift/tree/ownership).

[2019-07-15 23:12] eaplatanios commented on #364
Do you have an ETA on when this might be fixed? I may take a look tomorrow but I don't know if it'll be productive given that I'm not familiar with this aspect of the compiler.

[2019-07-15 23:12] rxwei commented on #364
I'll try my best to get it land before EOD tomorrow.

[2019-07-15 23:24] eaplatanios commented on #364
That's great! Thanks a lot Richard! In that case I may take a shot at one of the other auto-diff bugs in the meantime. I assume we're not ready yet for the `inout` support changes we discussed previously, right?

[2019-07-15 23:30] rxwei commented on #364
This week we are aiming to land two things that would allow you to start the `inout` work.

[2019-07-16 02:45] Shashi456 commented on #365
@rxwei Can this be closed wrt #366 ?

[2019-07-16 02:55] eaplatanios commented on #364
That's great news! Thanks Richard!

[2019-07-16 02:55] #365 closed

[2019-07-20 04:54] eaplatanios commented on #364
@rxwei so I did some tests after the leak fix PR landed and I noticed that a portion of the leak still exists for me even if I remove all control flow. It's significantly reduced, but still unusable for anything more than toy experiments. I'll try to get an instruments trace uploaded and sent to you if you think that helps.

[2019-07-20 05:27] rxwei commented on #364
A trace would be very useful. Note that custom initializer VJPs have leaks ([TF-667](https://bugs.swift.org/browse/TF-667)) and there is a workaround.

[2019-07-20 05:32] eaplatanios commented on #364
I see. That workaround requires a lot of changes in swift-apis though. Do you have a rough timeline estimate for the fixes to that leak and the control flow leak? I'll try to get a trace as soon as possible.

[2019-07-20 05:49] rxwei commented on #364
Changing swift-apis sounds good and we may actually even keep the workarounds after leaks have been fixed because the workarounds are more efficient.
@dan-zheng is working on the fix and it should land next week.

[2019-07-20 06:01] eaplatanios commented on #364
Ok in that case I can make a PR after I also test locally that it resolves the issues I've been seeing. Btw, what do `__owned` and `__shared` imply?

Btw, a nice byproduct of all this digging into the traces is that I discovered a couple of leaks in my retro API. :)

[2019-07-20 06:15] eaplatanios commented on #364
I finally traced down the remaining leak in my experiments to a control flow issue. More specifically, I have a differentiable function that contains this loop:
[code]
If I wrap this in. `withoutDerivative(at: shape) { ... }` and replace `rank` with `shape.count`, the leak goes away.

[2019-07-20 07:56] rxwei commented on #364
`__owned` implies `@owned` parameter convention, which means the callee consumes the argument. The caller must retain the argument for any additional use of the value other than the callee.

`__shared` implies `@guaranteed` parameter convention, which means the caller is responsible for guaranteeing the lifetime of the argument, while the callee will not cause a change to the argument's reference

[2019-07-20 13:57] eaplatanios commented on #364
Thanks for the explanation Richard! I opened #378 with the workaround.

[2019-07-22 17:07] jkrukowski commented on #77
hi @Shashi456, I've created tests for `Dense` layer here https://github.com/tensorflow/swift-apis/pull/380

[2019-07-23 20:31] rxwei commented on #364
A new nightly toolchain has been released with memory leak fixes.

[2019-07-24 04:00] eaplatanios commented on #364
I will leave this open for now because even though the latest PR fixed some major issues, there is still the control flow autodiff leak that is causing issues for me.

[2019-07-24 18:09] burmako opened #386 "Mention migration instructions in deprecation messages"
While trying our some of our models, I encountered warnings along the following lines:

[code]

This message looks a bit confusing since it doesn't explain how to make it go away. I think it would be good if deprecation warnings explained how to migrate away from deprecated APIs.

[2019-07-24 18:19] Shashi456 commented on #386
Can I work on this o.O?

[2019-07-24 18:35] eaplatanios commented on #386
@burmako most of these will just go away as there are new initializers that cover them. I'm not sure why the compiler picks one over the other when both are applicable. @Shashi456 feel free to add pointers to the new initializers in the warning message.

[2019-07-25 20:41] rxwei commented on #364
https://github.com/apple/swift/pull/26355 fixes the rest of memory leaks.

[2019-07-25 20:50] rxwei opened #389 "Remove all unnecessary custom VJPs for differentiable control flow."
https://github.com/apple/swift/pull/26355 fixed all control flow memory leaks (#364). After that patch lands, we should remove all unnecessary custom VJPs for differentiable control flow, such as the custom VJP for `BatchNorm.callAsFunction(_:)`.

[2019-07-25 22:24] eaplatanios commented on #389
I'll take this on because I also want to check if the leaks in my RL library have been fixed.

[2019-07-26 03:59] eaplatanios commented on #389
@rxwei even though the situation improved after apple/swift#26355, there are still memory leaks somewhere related to auto-diff of control flow. For example, using instruments I see that there are leaks related to `Differentiable.move` coming from `Dense.AllDifferentiableVariables.+`. I also see that `Conv2D.AllDifferentiableVariables.+` results in much less memory leaked, suggesting that the `if`

[2019-07-26 04:10] rxwei commented on #389
It'd be helpful if you can share a stack trace. It's hard to tell whether this is a problem with AD control flow especially when it has something to do with `move(along:)`. Also, could you please provide your compiler version by obtaining it from `swift --version`?

[2019-07-26 04:20] eaplatanios commented on #389
Swift version is:

[code]

and screenshot of a stacktrace:

<img width="1321" alt="Screen Shot 2019-07-14 at 7 25 12 PM" src="https://user-images.githubusercontent.com/1294940/61925621-1dd5e880-af3b-11e9-8cfc-c647c16674ab.png">

Does this help?

[2019-07-26 04:24] eaplatanios commented on #389
@rxwei sorry I uploaded the wrong image earlier. I just edited the post with the correct image.

[2019-07-26 04:29] rxwei commented on #389
Ok. This shouldn't have anything to do with differentiation. `move(along:)` albeit part of `Differentiable` is just an API and is never used by automatic differentiation. Plus, this stack trace show no AD-generated code.

[2019-07-26 04:46] eaplatanios commented on #389
So, what do you think is causing this? This only happens during the model update so it seems to have to do with differentiation somehow.

[2019-07-26 04:50] rxwei commented on #389
Optimizer APIs are not using differentiation, so it's more likely the case that you have a reference cycle somewhere. I'm be happy to help you debug, but I haven't been able to build retro-swift. I'll try again.

[2019-07-26 05:09] eaplatanios commented on #389
Thanks Richard! You don't have to build retro-swift actually. I recently created an API for the arcade learning environment that is much faster. I don't have too detailed instructions yet, but if you clone [this repo](https://github.com/eaplatanios/swift-ale) and follow the instructions in the readme file, then hopefully you'll be able to just do `swift run` afterwards. Please let me know if that

[2019-07-26 05:23] rxwei commented on #389
It seems to rely on #346.

[2019-07-26 05:24] eaplatanios commented on #389
Oops. Yes it does. If you add a dependency to the branch corresponding to that PR in SwiftPM it may work. I haven't tried overriding the stdlib-provided `TensorFlow`.

[2019-07-26 05:46] eaplatanios commented on #389
The leak exists with SGD too btw.

[2019-07-26 05:55] rxwei commented on #389
Let's move the discussion to a separate issue in your library repo? It's highly unlikely that this is related to automatic differentiation and requires further investigation. I'm happy to build a toolchain based on #346 and help debug.

[2019-07-26 05:59] eaplatanios commented on #389
Thanks Richard! Yes, moving it there sounds good. I’m going to bed now but let’s continue the discussion tomorrow. FYI, the example in the repo does train if you let it run, but the leak becomes too bad after about 500-1000 steps making it unusable on my MacBook.

[2019-07-26 09:26] rxwei opened #390 "Put expected value after actual value in all uses of 'assertEqual'."
The expected value should come after the actual value in our tests.

[2019-07-26 09:31] Shashi456 commented on #390
@rxwei is this final, #153 you said that we should put the expected before the actual value. I'll take this up but should we just make this standard now?

[2019-07-26 09:47] rxwei commented on #390
No, I actually said the exact opposite:

The second argument to both `XCTAssertEqual` and `assertEqual` should be the expected value.

[2019-07-26 09:51] Shashi456 commented on #390
@rxwei so this change is to be done for tests not done? Could you pinpoint any files you specifically saw which needed this?

[2019-07-26 19:01] rxwei commented on #389
Update: Confirmed in eaplatanios/swift-ale#1 that the memory leak is unrelated to AD.

[2019-07-26 20:10] eaplatanios opened #394 "Auto-Differentiation Bug"
I opened [TF-681](https://bugs.swift.org/projects/TF/issues/TF-681?filter=allopenissues) for this but thought it may good to post it here too for others to be aware. Consider the following example:

[code]

This prints out a gradient of `[0, 0, 0, 0, 0, 0, 0, 0, 0, 2]`, whereas it should be `[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]`.

[2019-07-27 04:41] #389 closed

[2019-07-27 07:11] Shashi456 opened #395 "Suppress Build Warnings"
@eaplatanios @rxwei So When i tried to build on master, I get these warnings. Is there anyway to suppress these warnings ?
[code]

[2019-07-27 19:12] #390 closed

[2019-07-27 19:48] #386 closed

[2019-07-28 06:11] Shashi456 commented on #395
Another warning while testing,
[code]

[2019-07-28 06:41] eaplatanios commented on #395
@Shashi456 these warnings are due to a bug in the compiler but they should not affect results. The bug will hopefully be fixed soon.

[2019-07-29 04:26] iyaja commented on #127
Have you considered adding the [LAMB optimizer](https://arxiv.org/abs/1904.00962) to the list? It seems to be one of the fastest so far (especially with large batches).

[2019-07-30 22:22] dan-zheng commented on #342
Done in #346. Thank you @eaplatanios!

[2019-07-30 22:22] #342 closed

[2019-07-30 22:25] dan-zheng opened #402 "Add derivative tests for layers"
Layers currently lack derivative tests.

* Tensor operation derivatives are tested in `Tests/TensorFlowTests/TensorAutoDiffTests.swift`.
* Layers are tested in `Tests/TensorFlowTests/LayerTests.swift`. (#77)

Consider adding layer derivative tests to `Tests/TensorFlowTests/LayerTests.swift`, alongside layer "forward-pass" tests.

[2019-07-31 02:29] Shashi456 commented on #402
@dan-zheng might be the right time to make a LayerTests directory and have forwardpass and differentiation tests as files?

[2019-08-01 05:38] dan-zheng opened #408 "Port tensor control flow AD tests"
[`test/TensorFlowRuntime/tensor_autodiff_control_flow.swift`](https://github.com/apple/swift/blob/tensorflow/test/TensorFlowRuntime/tensor_autodiff_control_flow.swift) from `apple/swift` needs to be ported to [`Tests/TensorFlowTests/TensorAutoDiffTests.swift`](https://github.com/tensorflow/swift-apis/blob/master/Tests/TensorFlowTests/TensorAutoDiffTests.swift).

This enables removing the deprecate

[2019-08-01 07:58] rxwei commented on #408
I don’t think this needs to block #26447. These tensor tests are merely using additive arithmetics. Please just make sure the same arithmetics are tested using ‘Tracked’ in the AD suite, and then delete the test file in order to merge #26447.

[2019-08-01 20:41] sgugger opened #411 "Array of layers no longer able to be differentiate"
Recent changes (since v0.4) have somehow cause a regression on the differentiation of arrays of layers. [Here](https://gist.github.com/sgugger/3e49e5fe63a12654658b3d4918e4b71e) is a minimal reproducer tat used to work in v0.4 but no longer does on the nightlies.

@eaplatanios , @rxwei said to tag you.

[2019-08-01 20:47] Shashi456 commented on #411
I wonder if this is related to the breakdown into the different protocols.

[2019-08-01 20:49] Shashi456 commented on #411
@sgugger which one of the notebooks is a minimal reproducer?

[2019-08-01 21:17] sgugger commented on #411
Pasted the wrong link sorry, edited.

[2019-08-02 07:12] mikowals commented on #411
@sgugger, I think you can just use Array.differentiableReduce() now.  Your extension just becomes:

    extension Array: Layer where Element: Layer, Element.Input == Element.Output {
        // Note: remove the explicit typealiases after TF-603 is resolved.
        public typealias Input = Element.Input
        public typealias Output = Element.Output

        @differentiable
        public func c

[2019-08-02 08:48] sgugger commented on #411
The workaround seems to work, however having a regression on the code of the reproducer isn't necessarily a good sign.

[2019-08-02 17:39] eaplatanios commented on #411
@rxwei I believe this is a bug related to apple/swift#25974 where when you specify a custom VJP function something goes wrong with the conditional differentiability checks. When adding `@differentiable(wrt: self)` implicitly to satisfy the `Module` requirement we're passing `None` for the VJP of the added attribute and so maybe this is causing issues? I'm traveling now so I won't be able to take a

[2019-08-02 19:07] t-ae opened #412 "Parameter counting API for Layer"
Currently we can't easily know how many parameters `Layer` instance has.
It'll be useful for estimating model size.

Keras's `Layer` has this feature.
https://github.com/keras-team/keras/blob/c10d24959b0ad615a21e671b180a1b2466d77a2b/keras/engine/base_layer.py#L1105-L1123

[2019-08-03 06:58] rxwei commented on #412
This can be done once we flesh out the property wrapper solution for parameters (along the lines of #250).

[2019-08-03 10:40] mikowals commented on #412
I have been counting parameters based on how variables used to be updated in optimisers:

    extension Layer {
        var parameterCount: Int {
            let floatKeyPaths = self.recursivelyAllWritableKeyPaths(to: Tensor<Float>.self)
            let doubleKeyPaths = self.recursivelyAllWritableKeyPaths(to: Tensor<Double>.self)
            var parameters = 0
            for kp in floatKeyPaths {

[2019-08-05 23:16] rxwei commented on #412
One problem with this approach is duplication for each variable type as you mentioned. A bigger problem is that you might include tensors that are not parameters of a model, e.g. ones that are marked `@noDerivative`.

[2019-08-06 00:19] mikowals commented on #412
Thanks for explaining this Richard.

[2019-08-06 03:23] dhasl002 commented on #52
Update: #417 has created to implement GRU cells. I intend to move on to NTM next.

[2019-08-06 14:35] eaplatanios commented on #412
@mikowals @rxwei another problem is that you might not include tensors that are parameters. E.g., different data types or potentially, arrays of tensors (I believe this would not account for tensor arrays).

[2019-08-08 02:18] t-ae opened #421 "Problem in unused parameters and momentum based optimizer"
[code]

In the last `for` block, I expect `model.weight2` not to change.
`dmodel.weight2` is `0.0` here. But `weight2` is updated with momentum of `opt`.
I think it's undesirable bahavior.

[2019-08-08 02:19] Shashi456 commented on #421
I'm not sure if weight freezing is a functionality that's been added yet.

[2019-08-08 02:24] t-ae commented on #421
IMO freezing and unused are different.
Freezing means values won't change even if they are used.
Unused parameters are not in computational graph so it shouldn't be changed.

[2019-08-08 02:38] Shashi456 commented on #421
@t-ae what happens when you initially set the bool to be false, does that work? That'd maybe explain if the graph is taking in conditions at all.

[2019-08-08 03:53] t-ae commented on #421
Yes it works, and `weight2` doesn't change. But it is because momentum is initialized with 0.

I tried similar code in TensorFlow 2.0 and PyTorch.
In PyTorch I got same behavior (weight2 changes even if it's unused).

In TensorFlow the gradient of `weight2` was `None` so its value and optimizer's momentum don't change.
But with `None` gradient, `Adam.apply_gradients` emits warning message.
Probabl

[2019-08-08 03:53] #421 closed

[2019-08-08 16:01] sgugger opened #422 "softmaxCrossEntropy can't be used directly as a loss function"
Because it has a third argument (reduction) with a default value, ` softmaxCrossEntropy` can no longer be used as a loss function in the `Learner` API of the harebrain notebooks. A workaround is to define a new function that has only two arguments and pass it:
[code]
but it's a bit of a waste of code...

[2019-08-08 16:06] Shashi456 commented on #422
@sgugger so this decision was taken in the #356 PR, in an attempt to standardize loss functions. The reduction was added to maintain source compatibility.

[2019-08-08 16:11] Shashi456 commented on #395
@rxwei Was this solved? I'll close this in that case.

[2019-08-08 16:23] sgugger commented on #422
I think it's a good idea to have the reduction parameter in the loss function in theory. However, it's very annoying that swift doesn't consider that a function with three arguments, the third one having a default value, can be interpreted as a function of two arguments.

[2019-08-08 16:27] rxwei commented on #422
@Shashi456 Thanks for chiming in to provide the context. The core issue here is not about whether we should have a reduction argument, but Swift's lack of support for function coercion with default parameters. Since reduction is a default parameter in all loss functions, ideally we should be able to coerce them to a function type that excludes the defaulted parameter.
[code]

Right now there is a

[2019-08-08 16:30] rxwei commented on #395
No.

[2019-08-08 16:30] Shashi456 commented on #422
@rxwei, would there be any way to do that generically for all the losses ?

[2019-08-08 16:31] rxwei commented on #395
Currently we need a minimal reproducer and to file a bug on JIRA.

[2019-08-08 16:33] rxwei commented on #422
There is not, unfortunately.

[2019-08-08 16:41] eaplatanios commented on #422
We could take the approach Richard suggests and add overloads. I am personally leaning a bit more towards not adding the overloads in the `TensorFlow` module and letting users define them as needed. This is for a couple reasons:

1. The workaround is quite simple and would not add much overhead on the library user.
2. The high-level API is currently in early design form and will be changing more i

[2019-08-09 02:28] rxwei opened #432 "Rename /tools to /Tools for consistency"

[2019-08-09 02:36] Shashi456 commented on #432
@rxwei Should I leave this for a new contributor :P?

[2019-08-09 02:38] Shashi456 commented on #395
@rxwei I could file a JIRA bug and link this PR as well, But i'm not sure about the minimal reproducer, If it's with respect to these warnings then it would include the definition of these layers? So should i go ahead?

[2019-08-09 02:41] Shashi456 commented on #422
@eaplatanios +1, on your thoughts.

But if it is important for us to overload them in the library, I would then suggest moving the reducer functions to Math.swift while having the overloaded functions in loss.swift.

[2019-08-09 03:42] eaplatanios commented on #432
Done in #434.

[2019-08-09 03:42] #432 closed

[2019-08-09 17:46] Shashi456 commented on #111
@rxwei @dan-zheng, would we still need this, since control flow was made differentiable, we could solve #111 with that right?

[2019-08-09 17:47] Shashi456 commented on #178
@rxwei @dan-zheng, would we still need this, since control flow was made differentiable, we could solve #111 with that right?

[2019-08-09 22:36] dynamicwebpaige commented on #411
Pinging @pschuh @saeta @dan-zheng - it looks like Jeremy and Sylvain are blocked on this bug. Do we have an ETA to resolve?

[2019-08-09 22:43] dynamicwebpaige commented on #422
Pinging on this issue, as well -- do we have an ETA to resolve? cc: @saeta

[2019-08-09 23:02] pschuh commented on #411
We got to the point where we can build the first 7 notebooks as a presubmit. I don't know what that means for this bug.

[2019-08-10 01:39] dan-zheng commented on #411
@sgugger: could you please confirm that this is the error you're encountering? [(your reproducer)](https://gist.githubusercontent.com/sgugger/3e49e5fe63a12654658b3d4918e4b71e/raw/65e906e3bd38ae420cf5aaddf68a6a53941ff0c3/array.swift)
[code]

[2019-08-10 01:42] pschuh commented on #411
I recognize that error and believe the notebooks have been updated like so:

-extension Array: Layer where Element: Layer, Element.Input == Element.Output {
+extension Array: Layer & Module where Element: Layer, Element.Input == Element.Output {

That is a breakage to swift-apis that didn't make it into the toolchain until after this bug was filed.

[2019-08-10 01:42] dan-zheng commented on #411
I believe the fix is much simpler: we must declare `extension Array: Module` explicitly before we declare `extension Array: Layer`. Swift doesn't support "implied conformances", as explained in the error message.

Here's a fixed version of the `Array` conformances in the reproducer:
[code]

@sgugger: does this fix unblock you?

[2019-08-10 01:45] eaplatanios commented on #411
@dan-zheng Thanks! It's interesting that `Array: Layer` does not imply `Array: Module`. Is that only true for extensions? Because the implication seems to hold when directly declaring structs as conforming to `Layer`.

[2019-08-10 01:46] rxwei commented on #411
Conditional conformances don't imply.

[2019-08-10 04:23] Shashi456 commented on #422
If it's overloading the current losses, or just `softmaxcrossentropy` specifically, I could get a PR up today.

[2019-08-10 07:29] sgugger commented on #411
Note that there is a new failure on the nightly.
[code]
now fails with
[code]

[2019-08-10 16:00] eaplatanios commented on #411
@sgugger could you try what @pschuh suggested?

[code]

[2019-08-10 18:01] saeta commented on #422
I think we should add the overloads; it's now just a matter of how we want to organize the code.

To make forward progress, how about this strawperson proposal:
 1. Leave existing losses where they are.
 2. Add additional overloads without the 3rd param
 3. Optionally in a subsequent PR / discussion, determine if we should move them to Math.swift. (My initial reaction is that putting them in math

[2019-08-10 18:09] Shashi456 commented on #422
I'll get the PR immediately up with the overloaded losses once we have consensus @saeta , Also what do you think about naming these functions?
Step 3 sounds like a sound thing to do in given we are going to keep both versions around. This is also what @eaplatanios originally proposed in #356. I'm not entirely sure how quick swift is as far as adding new functionalities to the language are consider

[2019-08-10 18:19] eaplatanios commented on #422
@saeta @Shashi456 How about we add the overloads in `BackwardsCompatibility.swift` which was created for the purpose of keeping track of extra APIs that are mostly temporary and exist for the sake of maintaining backwards compatibility?

[2019-08-10 18:52] saeta commented on #422
:+1:

[2019-08-10 18:59] Shashi456 commented on #422
@eaplatanios @saeta, I'll get the PR up in a few hours.

[2019-08-11 07:37] sgugger commented on #411
This produces the same error as the first one:
[code]
whether in a notebook or trying to build in a module.

Note that this is a fairly recent regression as this code was working on last Thursday's nightlies.

[2019-08-12 13:00] rahulbhalley commented on #422
@rxwei function coercion looks like a great 👍 idea 💡 to me. Please do make a proposal in Swift evolution forum.

[2019-08-12 16:16] Shashi456 commented on #422
@sgugger @dynamicwebpaige solved this in #442.

[2019-08-12 16:23] #422 closed

[2019-08-13 17:09] jkrukowski commented on #402
@Shashi456 @dan-zheng just wanted to ask you, what's the preferred way of implementing derivative tests for layers. Here is one of the first attempts https://github.com/tensorflow/swift-apis/pull/443 I'm thinking to use `pullback` function for that, something like
[code]

[2019-08-13 17:14] Shashi456 commented on #402
The preferred way is at it is done for batch normalization in `tensorAutoDiffTests.swift`. You can check that [here](https://github.com/tensorflow/swift-apis/blob/bc047be5c55d2125f4115d80dd76811163c9eb00/Tests/TensorFlowTests/TensorAutoDiffTests.swift#L409).

[2019-08-15 10:01] sgugger opened #447 "Can't have a Dataset lazily opening images"
Not too sure if the bug should be filed here on swift-apis or elsewhere, but I'm filing it here just so it's somewhere and tracked.

Currently, having a Dataset containing `StringTensor` will cause a crash when we train to apply a function to open the associated images (lazily). It's a regression since v0.4. The bug occurs in notebook 08 of harebrain, I've put together a minimal reproducer [here](

[2019-08-15 11:56] jkrukowski commented on #447
hi @sgugger, like you provided is pointing to your localhost

[2019-08-15 12:02] sgugger commented on #447
Oops, thanks for telling me, edited the link above.

[2019-08-16 15:19] t-ae opened #451 "Problem in comparison operators"
https://github.com/tensorflow/swift-apis/blob/3629ddc49b706df89f89fa3e92e495e6e3f42332/Sources/TensorFlow/Operators/Comparison.swift#L104-L132

Documentation comments says they compare two tensors "lexicographically".
But it seems the code doing is not lexicographical comparison.

I tried to fix it, but soon got stuck.
In the first place, is lexicographical order defined on tensors?

[2019-08-16 16:56] bgogul commented on #447
PRs that fix this issue:
   https://github.com/tensorflow/swift-apis/pull/439
   https://github.com/tensorflow/swift-apis/pull/446
   https://github.com/apple/swift/pull/26659

(More to come.)

[2019-08-16 20:49] rxwei opened #452 "Re-implement 'TensorBuffer.create(create:withInitializer:)' using new Array initializer"
[`Array.init(unsafeUninitializedCapacity:initializingWith:)`](https://developer.apple.com/documentation/swift/array/3200717-init) was introduced in [SE-0245](https://github.com/apple/swift-evolution/blob/master/proposals/0245-array-uninitialized-initializer.md). This solves a problem in the core tensor API where we allocate an empty array in [`TensorBuffer.init(create:withInitializer:)`](https://g

[2019-08-17 00:04] rxwei opened #455 "Build broken on macOS"
Broken as of 0dbccf3fcb6a29206cb4d05d7ae95d49ebcd2bc2.
[code]
C APIs are sometimes imported to macOS and Linux with different types. We really need macOS CI.

[2019-08-17 00:04] rxwei commented on #455
cc @bgogul

[2019-08-17 00:25] rxwei commented on #455
It looks like my toolchain is old.

[2019-08-17 00:25] #455 closed

[2019-08-17 01:21] #452 closed

[2019-08-17 12:27] sgugger commented on #447
Confirming the fixes work, thanks a lot!

[2019-08-17 12:27] #447 closed

[2019-08-17 20:35] sgugger opened #456 "Removing AllDifferentiableVariables prevents using differential learning rates"
It's very common to use different values of hyper-parameters for different layers in a model. For instance:
- using differentiable learning rates when fine-tuning a pretrained model (aka training deep layers with a lower learning rate than the last ones)
- using a weight decay of 0 for batchnorm and bias tensors is recommended
- since there is no API to freeze part of the model yet, using a learni

[2019-08-17 22:43] eaplatanios commented on #456
I believe this is not due to the removal of `AllDifferentiableVariables` but rather the switch to non-key-path-based optimizers. You will probably have to make your learning rate have type `TangentVector` so that it contains a separate value for each model parameter.

[2019-08-18 01:37] rxwei commented on #456
@eaplatanios is right. You can try making your learning rates have type TangentVector. I’m happy to help look at the notebooks on Monday as well.

[2019-08-18 07:45] sgugger commented on #456
While there may be a workaround for a thing like having a different learning rate for each parameter, I believe there is a bigger problem.

First the design is working really well for simple examples, but you will always hit walls when a new optimizer comes along and requires a more complicated function of the gradients, so you'll always need the ability to index in the tensors. For instance, [Ada

[2019-08-18 16:01] eaplatanios commented on #456
@sgugger I totally agree about the strong limitations of the current design. I previously opened #325 to track part of this problem and I recently also started [this discussion](https://groups.google.com/a/tensorflow.org/forum/#!topic/swift/DKqBXWwMz7I) that focuses on more use cases of `KeyPathIterable` with hopes of arriving at a better design. Given my Scala background, the most elegant solutio

[2019-08-18 19:13] jon-tow commented on #402
**Layer Gradient Tests**

- [ ] Sequential
- [ ] Conv1D
- [ ] Conv2D
- [ ] Conv3D
- [ ] DepthConv2D
- [ ] SeparableConv2D
- [ ] ZeroPadding1D
- [ ] ZeroPadding2D
- [ ] ZeroPadding3D
- [x] MaxPool1D
- [x] MaxPool2D
- [x] MaxPool3D
- [ ] AvgPool1D
- [ ] AvgPool2D
- [ ] AvgPool3D
- [ ] GlobalAvgPool1D
- [ ] GlobalAvgPool2D
- [ ] GlobalAvgPool3D
- [ ] GlobalMaxPool1D
- [ ] GlobalMaxPool2D
- [ ] Global

[2019-08-18 21:43] rxwei commented on #402
Thanks for the checklist @jon-tow !

[2019-08-20 22:23] rxwei commented on #456
After some offline discussions with @sgugger, @mattjj and @dougalm, I think we can use a refined protocol to resume the `AllDifferentiableVariables` behavior with significantly simpler semantics that what we had before.

[code]

With this, you can write
[code]

The name `PartialVectorSpaceDifferentiable` is not great. Any suggestions are of course welcome.

[2019-08-20 23:28] rxwei commented on #411
Calling `differentiableReduce(_:_:)` no longer works because `Module` doesn't make the `Input` associated type conform to `Differentiable`, where as `differentiableReduce(_:_:)` requires `Result` to be differentiable. Also, `differentiableReduce(_:_:)` has to require `Result: Differentiable` because that's the only way we can differentiate through a reduction.

[2019-08-21 07:19] rxwei commented on #115
`AllDifferentiableVariables` has been deprecated.

[2019-08-21 07:19] #115 closed

[2019-08-21 14:00] eaplatanios commented on #456
@rxwei Thanks for the update! Why not make `vectorView` always part of `Differentiable`?

[2019-08-21 17:18] eaplatanios commented on #411
@rxwei declaring conformance to both `Layer` and `Module` should imply `Input: Differentiable` though. Why is that not happening here?

[2019-08-21 19:05] rxwei commented on #411
We are missing a `Element: Layer` constraint. `Element: Module` is not enough because the semantics of reduction naturally requires `Input` to be differentiable.

[2019-08-21 19:07] rxwei commented on #411
This works:

[code]

[2019-08-21 19:07] eaplatanios commented on #411
Oh right...good catch. In that case, this should work:

[code]

[2019-08-21 19:07] eaplatanios commented on #411
Good catch! Thanks Richard.

[2019-08-21 19:08] rxwei commented on #411
Using the composition `Layer & Module` in the conformance clause is good too! I don't even remember when that got supported :)

[2019-08-21 23:56] rxwei commented on #456
`vectorView` is defined as "the `V` part of product manifold `V x M` where `(V x M).Tan == V`". This does not make sense for general manifolds (e.g. a sphere).

[2019-08-22 00:53] rxwei commented on #411
Here's the fast.ai notebook fix: https://github.com/fastai/swiftai/pull/9.

[2019-08-22 07:48] #411 closed

[2019-08-22 08:13] sgugger commented on #456
Wrt to naming, it sounds to me like `vectorView` makes sense when we are trying to differentiate in an euclidean space (maybe a larger class of spaces though). So maybe `EuclideanDifferentiable`?

Another possibility is `DifferentiableWithProjector` since `tangentVector` is a projector of `Self` to `TangentVector`

[2019-08-23 04:53] rxwei commented on #456
`EuclideanDifferentiable` actually sounds good.
`DifferentiableWithProjector` is weird in that there's a mathematical notion of "tangent space projection" (search for "tangent space projector" in [the manopt tutorial](https://www.manopt.org/tutorial.html)) and it is completely different from what `vectorView` does.

[2019-08-23 05:14] rxwei commented on #451
Yeah, it's not doing lexicographical comparison. This comment is legacy and should be removed :)

[2019-08-23 05:40] t-ae commented on #451
You mean current implementations are correct?
I feel it's weird that `[0, 1] <= [1, 0]` and `[0, 1] >= [1, 0]` are both `false`.
The usage of its comparability is unclear for me.

[2019-08-23 05:46] rxwei commented on #451
The current implementation was added to satisfy `Comparable` conformance (for some other purposes that are no longer valid), and `Comparable` is not necessarily the right thing for `Tensor` to conform to at all. I'd suggest removing the `Comparable` conformance completely.

[2019-08-23 09:30] t-ae commented on #395
Looks it's not filed yet.
I reported instead.
https://bugs.swift.org/browse/TF-775

[2019-08-23 10:35] rxwei opened #479 "Update 'min(_:_:)' and 'max(_:_:)' gradients to match Python TensorFlow."
IIRC, `tf.minimum` and `tf.maximum`'s gradients are not rounded.  We should update our implementation to match that.

[2019-08-23 10:41] #451 closed

[2019-08-23 10:52] rxwei commented on #479
Note: Fixing this is a high priority.

[2019-08-23 16:21] Shashi456 commented on #402
#443 #478 #470 #460 #469

[2019-08-24 13:34] rxwei opened #483 "Swifty API discovery via '@available' on raw APIs."
For many raw APIs, we already have corresponding idiomatic API that implement all of the raw API's functionality, e.g. `Raw.cast(_:)`, `Raw.reshape(_:)`, etc. These raw APIs are not recommend also because they are not differentiable. However, raw APIs are more discoverable than the idiomatic APIs to users who are familiar with Python TensorFlow, and there are no recommended alternatives when some

[2019-08-24 13:54] Shashi456 commented on #483
@rxwei Could we instead have a more user friendly warning which says `consider using x.reshape() instead`, just my opinion that for beginners, `use the reshape method on 'Tensor' instead ` might be little difficult to understand.

[2019-08-24 19:00] rxwei commented on #483
Library-provided error messages need to present alternative APIs accurately. `x.reshape()` is not accurate in that `x` is undefined and the identifier does not show the function's arity.

[2019-08-24 19:03] eaplatanios commented on #483
Is there a way to disable these warning with some other annotation for intentional uses of the `Raw` API?

[2019-08-24 19:10] rxwei commented on #483
There is not, unfortunately. I’m definitely seeing possible intensional uses in things like lazy tensor tests, but it appears to me that these warnings are only affecting the end user positively and making code reviews easier.

[2019-08-25 02:57] Shashi456 commented on #483
@rxwei when I said `x.reshape()` I meant is there any way to have error messages with `<var_name>.reshape()`.

[2019-08-25 03:59] rxwei commented on #483
There is no way of doing so, unfortunately.

[2019-08-25 04:33] Shashi456 commented on #395
There's another build warning here:
[code]

Please note, removing the line fails the test.

[2019-08-25 04:34] Shashi456 commented on #483
@rxwei one last thing, what file would be appropriate to place these warnings in?

[2019-08-25 04:47] rxwei commented on #483
This should be implemented modularly as part of [the raw operator generation script](https://github.com/tensorflow/swift-apis/blob/master/Sources/TensorFlow/Bindings/generate_wrappers.py).

[2019-08-25 08:01] rxwei commented on #456
#26827 adds the protocol, which you can already conform to manually in fast.ai notebooks. I'll implement derived conformances for `vectorView` on Monday.

[2019-08-25 14:57] eaplatanios commented on #456
That’s great. Thanks Richard!

[2019-08-25 22:31] dan-zheng commented on #479
Here are the Python TensorFlow gradients for `minimum` and `maximum`, which we want to mimic:
[code]

Here is our current behavior, which is incorrect. I believe our logic was originally adapted from Tangent, which performs tie breaking (derivative is sometimes 0.5 before scaling).

[code]

[2019-08-25 23:01] eaplatanios commented on #479
Thanks for clarifying @dan-zheng! In order to have all the relevant information here, the Python API gradient implementation can be found [here](https://github.com/tensorflow/tensorflow/blob/752556174a1dcf68693784a8c78f07ba818e230f/tensorflow/python/ops/math_grad.py#L1417).

[2019-08-26 00:48] dan-zheng commented on #395
This is expected, because `BatchNorm.callAsFunction` updates running mean and variance, which is significant.

Simple fix in https://github.com/tensorflow/swift-apis/pull/485: `_ = bnLayer(x)`.

[2019-08-26 11:22] sgugger commented on #456
Thanks Richard!
Re- conforming a layer manually to `EuclidianDifferentiable`. Not sure what the best way is to define a TangentVector. For a `Dense` layer (where the differentiable part is weight and bias), this:
[code]
works but this
[code]
crashes with a type checker error. Is there a simpler way to create the proper `vectorView`? Ultimately it would be great if it just picked the differentiable

[2019-08-26 23:27] dan-zheng opened #486 "`swift test` linker issue on macOS"
Reproducer (macOS-only):
[code]

The key issue is `/usr/lib/swift/libswiftCore.dylib`. After ABI stability, the linker attempts to link the OS-vendored standard library instead of the one in the toolchain.

This issue is related to https://github.com/apple/swift/pull/25328. We need to revert the change that introduced linking `/usr/lib/swift/libswiftCore.dylib`.

[2019-08-27 02:03] Shashi456 commented on #127
@jph00, thanks :). Will start contributing some optimizers there as well.

[2019-08-27 18:06] dan-zheng opened #488 "Move TensorFlow module out of stdlib and inject it into toolchains"
Currently, `tensorflow/swift-apis` is cloned as an `apple/swift` build product and is built as part of the Swift standard library. ([relevant CMake support](https://github.com/apple/swift/blob/tensorflow/stdlib/public/TensorFlow/CMakeLists.txt))

However, we would like to move `TensorFlow` out of the stdlib and inject it into toolchains. This would involve:
* Building a normal toolchain (sans `Ten

[2019-08-27 20:58] rxwei opened #489 "Is Threading.swift dead code?"
https://github.com/tensorflow/swift-apis/blob/master/Sources/TensorFlow/Core/Threading.swift
Looks like dead code to me as I've found no users of anything defined here.

[2019-08-28 04:42] t-ae opened #490 "Type inconsistency between Tensor.batchNormalized and BatchNorm"
`epsilon` of `Tensor.batchNormalized` is `Float`.
https://github.com/tensorflow/swift-apis/blob/b7f2a06a4c0225884a3ce2e7010d558d7038e7c5/Sources/TensorFlow/Operators/NN.swift#L36
But `epsilon` of `BatchNorm` is `Tensor<Float>`.
https://github.com/tensorflow/swift-apis/blob/b7f2a06a4c0225884a3ce2e7010d558d7038e7c5/Sources/TensorFlow/Layers/Normalization.swift#L34

`epsilon` is a scalar (even `Batch

[2019-08-28 08:49] t-ae opened #494 "Question about input shape of ZeroPadding*D"
`ZeroPadding1D` takes 1D tensor:

https://github.com/tensorflow/swift-apis/blob/74a9bd2f7332a117bb159653bec865a00e9d3745/Tests/TensorFlowTests/LayerTests.swift#L246-L252

But [`tf.keras.layers.ZeroPadding1D`](https://www.tensorflow.org/api_docs/python/tf/keras/layers/ZeroPadding1D) takes 3D tensor that has shape `(batch, axis_to_pad, features)`.

Is this difference intentional?

Same for `ZeroPadd

[2019-08-28 09:01] Shashi456 commented on #494
@t-ae Not intentional, When I wrote the layers, I wrote them directly with dimensionality in my mind i.e 1D, 2D, 3D. I think we'll have to update the functionality of zero padding layers wrt keras.

[2019-08-28 11:25] Shashi456 commented on #494
@t-ae now that i've checked the implementation, i've understood that the implementation is sorta right, we just need to add the batch and features dimensions to everything

[2019-08-28 22:47] bgogul commented on #489
This is not used currently, but might want to keep it around to experiment with parallel training using lazy tensor.

[2019-08-28 22:48] rxwei commented on #489
Thanks for the context!

[2019-08-28 22:48] #489 closed

[2019-08-28 23:07] rxwei opened #495 "Remove deprecated APIs for 0.5."
The Swift for TensorFlow team is preparing a 0.5 release of Swift for TensorFlow. When we transitioned from 0.3 to 0.4, we deprecated some APIs moved them to [BackwardsCompatibility.swift](https://github.com/tensorflow/swift-apis/blob/master/Sources/TensorFlow/BackwardsCompatibility.swift), e.g. `Conv2D.init(filterShape:strides:padding:dilations:activation:seed:)`.

**Task**: Remove APIs in [Backw

[2019-08-29 03:50] rxwei opened #499 "Guidelines for Python code examples in derivative tests."
A good practice has been exercised over the past few months in adding layer tests: we add a Python TensorFlow reproducer.

What has really helped in assuring our layers' correctness is adding a Python reproducer per layer test like ([this](https://github.com/tensorflow/swift-apis/blob/9616543321a279ebb550fbfdd37fb10d63842f25/Tests/TensorFlowTests/LayerTests.swift#L310)). Thank you @eaplatanios, @S

[2019-08-29 04:13] Shashi456 commented on #499
What about adding the variable used in the code as well? We don't exactly add x/input to the reproducers.

[2019-08-29 04:16] rxwei commented on #499
Yes, good point. Updated.

[2019-08-29 05:36] #494 closed

[2019-08-30 00:39] #495 closed

[2019-09-02 21:56] sjaz24 opened #503 "Colab GPU??"
I'm going to apologize in advance if this is not an issue but just isn't something supported. I'm not sure exactly where to post this. I tried in the FastAI Harebrain forums https://forums.fast.ai/t/colab-gpu-swift-for-tensorflow/53752 but got no response. Anyway, in Google Colab I'm never able to get a GPU even though I have that Runtime selected. In Python environment it seems to always get GPU.

[2019-09-03 17:00] Shashi456 commented on #180
@rxwei sorry to call your attention to this again :p, but I think we need to update the readme. Could we start discussing what might be a part of it?

[2019-09-05 09:31] rxwei commented on #180
Thanks for offering to help, @Shashi456!

Sorry for my delayed response as I'm traveling recently. I will handle this issue next week.

[2019-09-19 18:55] rxwei opened #508 "Add derivative for 'Tensor.scalars' property."

[2019-09-19 19:35] rxwei opened #510 "Add derivative for 'Tensor.init(_:)' from arrays."
Add a derivative for the following initializer:
[code]

[2019-09-19 19:37] rxwei opened #511 "Add derivative for 'Tensor.init(shape:scalars:)'."

[2019-09-19 20:10] #508 closed

[2019-09-19 20:42] #510 closed

[2019-09-19 23:43] #511 closed

[2019-09-22 19:07] rxwei commented on #486
Fixed ([TF-797](https://bugs.swift.org/browse/TF-797)).

[2019-09-22 19:07] #486 closed

[2019-09-22 19:08] rxwei commented on #503
@marcrasi Should this be moved to JIRA?

[2019-09-22 19:09] #364 closed

[2019-09-29 14:02] dan-zheng opened #517 "Add preconditions"
Preconditions (for shape-checking, valid value ranges, etc) would be valuable for better source locations in error messages and to avoid uninformative TensorFlow runtime errors.

Example: `matmul(_:_:)` currently crashes with an uninformative stack trace.
[code]
[code]

[2019-09-29 21:39] eaplatanios opened #518 "RNN gradients are wrong"
[This line](https://github.com/tensorflow/swift-apis/blob/27ea161a69ed207c26028286ce751888c6f9a12d/Sources/TensorFlow/Layers/Recurrent.swift#L323) should be `𝛁cell += new𝛁cell` instead. There is also an issue with the initial state initialization to a zeros tensor with batch size 1 that does not broadcast. I don't have time to open a PR right now because I'm traveling but will try to open one once

[2019-09-29 22:25] rxwei commented on #518
Nice catch!

[2019-10-01 06:24] Shashi456 commented on #518
Should I take care of this @eaplatanios

[2019-10-01 06:26] Shashi456 commented on #517
Could we start with making a list of what methods need a precondition ?

[2019-10-01 06:45] dan-zheng commented on #517
I'd recommend looking through files in `Sources/TensorFlow/Operators` and `Sources/TensorFlow/Layers` and look for "precondition" comments on properties/parameters that aren't actually checked.

Examples:
* `func conv2D`, [``/// - Precondition: `input` must have rank `4`.``](https://github.com/tensorflow/swift-apis/blob/27ea161a69ed207c26028286ce751888c6f9a12d/Sources/TensorFlow/Operators/NN.swift

[2019-10-01 06:46] Shashi456 commented on #517
@dan-zheng I'll try to put up a list in the next few hours

[2019-10-01 08:27] ocampor commented on #517
@dan-zheng I can create a runtime performance analysis on some of the functions with preconditions. Do you have any preferred methodology to assess the impact? Any recommendation to make the analysis more reliable?

[2019-10-01 14:33] eaplatanios commented on #518
@Shashi456 thanks! Feel free to fix the `+=` bug. The initial state issue is a less trivial API design question that I haven't thought about much yet. There are a couple of possible solutions that I used in swift-rl, so I'll try to look into it sometime soon.

[2019-10-01 16:57] Shashi456 commented on #517
A list of preconditions :
- [ ]
- [ ]
- [ ]
- [ ]

[2019-10-02 20:26] rxwei opened #524 "Rename 'transposed(withPermutations:)' to 'transposed(permutation:)'."
`transposed(withPermutations:)` is not a perfect name because
1. "With" is often considered as a needless word, especially in an argument label where a noun phrase follows. We've been dropping "with" in cases like this for APIs added earlier this year, but we have not revisited `transposed(withPermutations:)` which was introduced since the beginning.
2. The argument is one permutation. So a plural

[2019-10-03 02:31] rahulbhalley commented on #524
I am surprised & happy that @apaszke-g is working on S4TF!! 🎉

[2019-10-03 15:49] apaszke-g commented on #524
It's a fake account that belongs to the same person 😄It's a copy of my original account for Google purposes, because I'm (temporarily) visiting the S4TF team to learn more and see how are things going.

[2019-10-04 02:29] rahulbhalley commented on #524
It seems like someone is faking unless similar message is conveyed from original account too. 😅

[2019-10-05 08:51] marcrasi commented on #503
I finally investigated. Here's a workaround, execute this cell before doing anything else:
[code]

---

What's happening is that Colab has some CUDA libs that are incompatible with its nvidia driver, and S4TF is finding those. Colab also has some CODA libs that are compatible with its nvidia driver, and they set LD_LIBRARY_PATH to /usr/lib64-nvidia on the python kernel so that it finds the compati

[2019-10-06 21:06] SamPruden opened #528 "conv1D missing as a global function"
`Conv1D` is available as a layer which is implemented via `conv2D`, but `conv1D` is not available as a global function. I'm using convolution for data processing outside of the net, so it would be useful to have. Is there interest in getting this added?

I've just nabbed and tweaked the implementation from `Conv2D` for now.

[code]

I'm pretty new to playing with Swift and TensorFlow and I'm defin

[2019-10-11 07:53] Aamir1551 commented on #524
Hi could I be assigned to this task, I would love to work on it as a first issue.  Thanks

[2019-10-11 07:55] Shashi456 commented on #524
@Aamir1551 I'm afraid this is already being worked upon in #527. We have other good first issues in this list.

[2019-10-11 07:56] Aamir1551 commented on #524
Oh, right, thanks. It said No one assigned, so I thought it still hasn't been worked upon

[2019-10-11 22:24] #524 closed

[2019-10-24 16:20] SamPruden opened #535 "Tensor(randomUniform: ...) does not behave as documented"
[The documentation](https://www.tensorflow.org/swift/api_docs/Structs/Tensor#initrandomuniform:lowerbound:upperbound:seed:_1) for `Tensor<Float>(randomUniform:lowerBound:upperBound:seed:)` says

However, I have found that the shape only matches the one specified when the bounds are 0D tensors. The documentation makes no mention of this being a precondition.

The [equivalent Python function](https:

[2019-10-24 16:25] dan-zheng commented on #535
Does using scalar lower/upper bounds solve your use case?

[code]

I hadn't even thought about non-scalar `Tensor` lower/upper bounds before, that seems like an advanced use case.

[2019-10-24 16:43] SamPruden commented on #535
No it doesn't, I specifically need these individual ranges. I've solved it using the generate in 0..<1 then scale and shift technique for now, so this isn't blocking me, but it's a bit clunky.

This probably is a pretty unusual use case. I'm training against generated data, and this is part of my generation step. I first randomly generate some sample ranges, then have to randomly generate some poi

[2019-10-24 18:04] SamPruden commented on #535
As it's an unusual case, I thought an example might be interesting, so this is a simplified version of my actual code.

[code]

I would like that last bit to be able to be this instead.

[code]

That's rewritten from my real code and untested, so there might be the odd little maths mistake in there, but the idea should be clear.

[2019-10-29 05:33] mohdsanadzakirizvi commented on #77
I would like to work on this, any update on this?

[2019-10-29 14:41] saeta commented on #77
@mohdsanadzakirizvi that's awesome!

In the spirit of [teaching to fish](https://www.td.org/magazines/td-magazine/teaching-learners-to-fish), Layers are currently found in [`Sources/TensorFlow/Layers`](https://github.com/tensorflow/swift-apis/tree/master/Sources/TensorFlow/Layers). The corresponding tests appear to be in [`LayerTests`](https://github.com/tensorflow/swift-apis/blob/master/Tests/Ten

[2019-10-29 19:29] vbbphc opened #537 "Testing changes"
**OS**: Ubuntu 18.04
**Swift version**: 5.1-dev
**Problem**: I'm fairly new to the swift community, so I apologize for this silly question or if it's already been asked before. I've made some additions to the API and `swift build` succeeds. But, I couldn't find any resources that could guide me to use this build to test the changes since `import TensorFlow` goes to the folder in $PATH.  Also, a re

[2019-10-29 19:39] Shashi456 commented on #537
I'm not very sure I understand the question, One way to test new api changes is write test cases it helps in unit testing the exact piece of addition, and run `swift test`.

[2019-10-29 19:42] Shashi456 commented on #77
@mohdsanadzakirizvi you might want to look at #402 as well there are layers which don't have derivative tests.

[2019-10-29 19:52] vbbphc commented on #537
Ah, thanks a lot @Shashi456 ! That does solve my question.

[2019-10-29 19:52] #537 closed

[2019-11-04 19:57] sjaz24 opened #542 "Sequential causes Colab to crash"
I'm not totally sure if it's related to Sequential or something else but whenever I attempt to create a Sequential layer in Google Colab, the session crashes. Perhaps it's due to the usage of the function builder (LayerBuilder)???

<img width="970" alt="Screen Shot 2019-11-04 at 12 53 52 PM" src="https://user-images.githubusercontent.com/9062128/68153225-63269080-ff02-11e9-92b6-cf3684bd0b86.png">

[2019-11-06 16:18] dan-zheng opened #545 "Make `Tensor.product(squeezingAxes:)` differentiable"
[`Tensor.product(squeezingAxes: Tensor<Int32>)`](https://github.com/tensorflow/swift-apis/blob/30a1071d9cdf0322c171899e9c17423fa240e980/Sources/TensorFlow/Operators/Math.swift#L1817) is [currently not `@differentiable`](https://github.com/tensorflow/swift-apis/blob/30a1071d9cdf0322c171899e9c17423fa240e980/Sources/TensorFlow/Operators/Math.swift#L1815).

We should do the following:
* Add the attrib

[2019-11-06 20:17] dan-zheng commented on #545
cc @kongzii

[2019-11-06 20:28] kongzii commented on #545
Continuing the discussion at [Use case from mailing list](https://groups.google.com/a/tensorflow.org/d/msg/swift/9ss6t-neuGE/XqMOA-CQAAAJ), I will start working on this :)

[2019-11-08 12:33] ocampor commented on #528
I will take a look to this one.

[2019-11-08 22:06] #282 closed

[2019-11-11 19:48] dan-zheng commented on #545
Done in https://github.com/tensorflow/swift-apis/pull/550.

[2019-11-11 19:48] #545 closed

[2019-11-14 18:35] marcrasi opened #554 "add test for #519"
cc @Shashi456, if you want to work on this please add a comment so that I can assign it to you!

[2019-11-14 18:36] marcrasi opened #555 "add test for #522"
cc @eaplatanios please comment if you would like to take this on eventually, and I will assign it to you.

[2019-11-14 19:00] saeta commented on #528
I believe this is now fixed due to #549. Thanks! -Brennan

[2019-11-14 19:00] #528 closed

[2019-11-15 09:56] ocampor commented on #517
Today I’m going to spend some time looking the missing preconditions.

[2019-11-15 10:00] ocampor commented on #555
I will add some test to the bug fix

[2019-11-20 18:50] BradLarson commented on #394
It's been a little while, but this appears to have been fixed in https://github.com/apple/swift/pull/28155 (per [TF-681](https://bugs.swift.org/projects/TF/issues/TF-681 ).

[2019-11-20 18:50] #394 closed

[2019-11-20 20:19] dan-zheng opened #562 "Add linear algebra operations and their derivatives"
Swift for TensorFlow should provide standard linear algebra operations from [`tf.linalg`](https://www.tensorflow.org/api_docs/python/tf/linalg)/[`np.linalg`](https://docs.scipy.org/doc/numpy-1.13.0/reference/routines.linalg.html).

Some of these operations are already accessible via [TensorFlow bindings](https://github.com/tensorflow/swift-apis/blob/master/Sources/TensorFlow/Bindings/RawOpsGenerat

[2019-11-20 23:32] awav commented on #562
This is not a full list of operations, but it would be good to start with this:

- [ ] Norm
- [ ] Trace
- [ ] Cholesky
- [ ] Triangular Solve
- [ ] Cholesky Solve
- [ ] Diag (make a [batch] tensor from [batch] diagonal)
- [ ] Diag Part (extract [batch] diagonal)
- [ ] Einsum
- [ ] Eye
- [ ] Logdet
- [ ] Eigh

[2019-11-21 01:31] dhasl002 commented on #554
@marcrasi I'll take this one!

[2019-11-22 16:20] awav commented on #562
@dan-zheng , how can I add a new binding [here](https://github.com/tensorflow/swift-apis/blob/master/Sources/TensorFlow/Bindings/RawOpsGenerated.swift)?

[2019-11-22 16:39] Shashi456 commented on #562
@awav you can't add new bindings in that file, You can check where how its generated [here](https://github.com/tensorflow/swift-apis/tree/master/Sources/TensorFlow/Bindings).

[2019-11-22 16:47] awav commented on #562
@Shashi456 , yeah, I've checked it. But, it is not clear why for e.g. "TriangularSolve" is not reflected in the [RawOpsGenerated.swift](https://raw.githubusercontent.com/tensorflow/swift-apis/master/Sources/TensorFlow/Bindings/RawOpsGenerated.swift) file, but "TriangularSolve" is in the [ops.pbtxt](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/ops.pbtxt). Does S4TF uses

[2019-11-22 19:28] jon-tow commented on #562
Hey @awav. I believe `triangular_solve` is aliased under `matrixTriangularSolve`.

[2019-11-23 11:39] awav opened #567 "Build errors"
Hello everyone,

I have two issues with the TensorFlow build:

1. The first related to 'Experimental' target
<img width="270" alt="Screenshot 2019-11-23 at 11 29 12" src="https://user-images.githubusercontent.com/24483645/69478052-a9765d80-0de5-11ea-9a44-fe2aa74711fe.png">

2. And if I remove 'Experimental' targets, I get this error:
<img width="270" alt="Screenshot 2019-11-23 at 11 29 41" src="ht

[2019-11-24 05:45] dan-zheng commented on #567
Could you please share how you're opening `swift-apis` in Xcode to produce these errors? Using SwiftPM following works for me:
[code]

[2019-11-24 07:35] dan-zheng commented on #562
Swift for TensorFlow uses the same `ops.pbtxt` - [here's the script](https://github.com/tensorflow/swift-apis/tree/master/Sources/TensorFlow/Bindings) that generates op bindings.

`TensorFlow.Raw` and `ops.pbtxt` are consistent, both define `matrixTriangularSolve` and `batchMatrixTriangularSolve`:

![image](https://user-images.githubusercontent.com/5590046/69490985-deb19880-0e43-11ea-9943-da0eb83f

[2019-11-24 11:07] awav commented on #567
@dan-zheng I ran your instructions, now it works for me, thanks!

[2019-11-24 11:07] #567 closed

[2019-11-24 16:07] vbbphc commented on #127
#564 Add Rectified Adam Optimizer

[2019-11-25 23:51] awav opened #568 "[Performance] Cholesky operation"
Hello everyone,

I have a concern about this line: https://github.com/tensorflow/swift-apis/blob/master/Sources/TensorFlow/Operators/Math.swift#L2712. In TensorFlow for python - gradients have access to the input and output of the operation, therefore there is no need in recomputing A=LLᵀ. The gradient signature normally looks like `gradient(op, grad)`, where op has attributes like input and outpu

[2019-11-26 00:03] awav commented on #568
Okay, looks like it is my misunderstanding of the `@differentiable`. The tuple returns a function for the gradient and first element is simply a forward step.

Feel free to close the issue, it that's the case :)

[2019-11-26 00:18] dan-zheng commented on #568
This is accurate!

[code]

Derivative functions are defined as VJP functions taking original arguments rather than just the "returned pullback" functions. This allows the pullback function to capture and use intermediate values computed in the original function.

That's exactly what happens for `cholesky`: `_vjpCholesky` computes `let decomposition = cholesky(x)`, and the pullback closure captures

[2019-11-26 00:18] #568 closed

[2019-11-26 00:22] awav commented on #568
gosh, I love that...

[2019-11-26 00:49] dan-zheng commented on #568
If you're interested in more cool differentiation stuff, check out our [custom differentiation tutorial](https://github.com/tensorflow/swift/blob/master/docs/site/tutorials/custom_differentiation.ipynb):
* Stop gradients from propagating
* Derivative surgery
* Gradient checkpointing in 6 lines

Other cool features are on the roadmap:
- [Retroactive derivative registration](https://gist.github.com/

[2019-12-01 16:02] rahulbhalley commented on #25
Any updates on making checkpointing/loading possible with `Codable`? Or is there any timeline decided?

[2019-12-02 21:15] rickwierenga opened #572 "Convolutional layer kernel size?"
Is it possible to specify the kernel size as specified [here](https://keras.io/layers/convolutional/)? I can't figure out how the [Swift code](https://github.com/tensorflow/swift-apis/blob/master/Sources/TensorFlow/Layers/Convolutional.swift) relates to the keras version, but that might be me.

Thanks.

[2019-12-03 04:50] Shashi456 commented on #572
The current version of the convolution layers mirror the tensorflow apis( You can take a look at them [here](https://www.tensorflow.org/api_docs/python/tf/nn/conv1d).)

The keras versions are also built on the tensorflow versions, and i think they compute the filter internally which is then passed onto the tensorflow backend.

The way they calculate the kernel size i.e the filter size is given [he

[2019-12-04 16:07] rickwierenga commented on #572
Thank you so much @Shashi456!

[2019-12-04 16:07] #572 closed

[2019-12-06 19:40] sgugger commented on #518
I think this has been solved by the two PRs merged. Feel free to reopen if there is still a problem.

[2019-12-06 19:40] #518 closed

[2019-12-06 19:43] sgugger commented on #490
This has been solved by #525 , so closing this issue.

[2019-12-06 19:43] #490 closed

[2019-12-06 19:46] Shashi456 commented on #518
@sgugger the tests against these changes were remaining so I thought we'd keep this PR open. #555, #554 track the tests. But since we have separate issues for them maybe it's okay.

[2019-12-06 19:50] sgugger commented on #518
Like you said there are already two issues tracking this. I wanted to do a bit of clean-up, but if anyone feels strongly about this issue remaining open, they can click the button :)

[2019-12-06 19:53] Shashi456 commented on #395
@rxwei @dan-zheng we do not have any build warnings popping up right now, right? So I'll close this issue?

[2019-12-06 20:10] Shashi456 commented on #562
@awav are you working on supporting these ops? could i ask what ops you are working on currently?

[2019-12-06 21:53] awav commented on #562
@Shashi456, solvers and trace for now

@dan-zheng, you can mark `diag` and `diag_part` as finished. They were implemented in https://github.com/tensorflow/swift-apis/pull/571

[2019-12-07 18:47] Shashi456 commented on #395
A new set of build warnings :
[code]

[2019-12-09 07:23] mikowals commented on #503
Hi @marcrasi.  The workaround above has started failing in Colab.

I think the failures started when Colab switched to 0.6 preview version because it coincides with all the `_Raw` warnings showing up for the first time.  I am not sure how to find the specific kernel and swift version any more now that python notebooks and swift notebooks aren't guaranteed to share a backend.

The error message is:

[2019-12-09 21:36] marcrasi commented on #503
Does GPU work for you now without using the workaround? I just tried it out and it seems like GPUs have started working without the workaround, without any changes by me, because some libs on the Colab VM have been moved to a place where Swift finds them.

[2019-12-10 05:10] mikowals commented on #503
Yes, you are correct.  GPU is now started working.

[2019-12-10 17:05] marcrasi commented on #503
Closing because fixed!

[2019-12-10 17:05] #503 closed

[2019-12-13 08:51] awav commented on #562
@Shashi456, @dan-zheng hello guys, sorry for the delay with PRs for solvers and other promised ops. I'm at NeurIPS and don't have much time to finish the work. Thanks!

[2019-12-14 20:57] kongzii commented on #25
I created example using recursivelyAllWritableKeyPaths, for those who are interested: https://gist.github.com/kongzii/62b9d978a6536bb97095ed3fb74e30fd

[2019-12-18 06:57] rahulbhalley commented on #25
@kongzii your approach looks hood to me (maybe not something S4TF team is aiming for). My question is can you extract and save parameters layer-wise? That could help in loading pre-trained models with recursivelyAllWritableKeyPaths.

Thanks for your code btw.

[2019-12-18 15:05] brettkoonce commented on #25
If you're interesting in loading/saving weights using numpy, you should check out Meir Rosendorff's blog post on the subject: https://medium.com/dvt-engineering/will-swift-take-over-python-as-the-go-to-language-for-ml-ff9f8d9d7141

[2019-12-18 18:32] marcrasi commented on #542
Do you know if this is reproducible on swift-jupyter running on a local machine? The crash in swift-jupyter might have slightly more informative error information.

Though if you don't have that set up, no worries, I'll try it myself eventually.

[2019-12-19 19:59] kongzii commented on #25
@rahulbhalley Thanks! All layers should conform to `Layer`, so you can execute `saveWeights` and `loadWeights` manually per layer, eg. `model.conv1d.saveWeights(...)`, if this is what you meant.

[2019-12-19 20:42] eaplatanios commented on #25
You can also check [how that's done in the BERT PR](https://github.com/tensorflow/swift-models/pull/231/files#diff-e00a3eb6164050e7694bebc15bb229ecR781) using a TF checkpoint reader helper I added a while back.

[2019-12-20 03:40] rahulbhalley commented on #25
Thanks @kongzii it works very nicely. Sorry, I should've thought a little more clearly that `recursivelyAllWritableKeyPaths` is a method on `Layer` protocol.

Thank you!

[2019-12-20 03:53] rahulbhalley commented on #25
@eaplatanios I looked at your provided [link](https://github.com/tensorflow/swift-models/pull/231/files#diff-e00a3eb6164050e7694bebc15bb229ecR781) which uses the `TensorFlowCheckpointReader`. I'm sorry I couldn't find the implementation of `TensorFlowCheckpointReader` in your [forked repository](https://github.com/eaplatanios/swift-models/tree/bert). The closest I found was the [official implement

[2019-12-20 10:28] awav commented on #562
@dan-zheng, `trace` can be marked now as done.

[2019-12-20 17:06] eaplatanios commented on #25
@rahulbhalley It's been pushed [here](https://github.com/tensorflow/swift-apis/blob/master/Sources/TensorFlow/Core/Serialization.swift). :)

[2019-12-24 03:53] t-ae opened #596 "Make conv2DBackpropInput public"
`Conv*D` layers have corresponding public functions `conv*D`.
With them we can easily create customized convolutional layers.

On the other hand, `TansposedConv*D` is implemented with internal function `conv2DBackpropInput`.
It makes creating customized transposed convolutional layers hard.

I propose to make it public, or add new `transposedConv2D` function as alias.

[2019-12-24 04:00] rahulbhalley commented on #25
Why isn't S4TF team trying to use ProtoBuf? I think PyTorch, ONNX, etc. uses that and even  has its own implementation [here](https://github.com/apple/swift-protobuf) in Swift itself.

cc: @rxwei @dan-zheng

[2019-12-24 04:16] eaplatanios commented on #25
@rahulbhalley TF checkpoints are in Protobuf format and the C API checkpoint reader is a wrapper around the C++ protobuf library. I believe @BradLarson is currently working on a pure Swift implementation using the Swift protobuf library.

[2019-12-25 23:09] rahulbhalley commented on #25
@eaplatanios that will be cool if we get checkpointing implemented in Swift protobuf. All the best @BradLarson!

[2020-01-09 01:08] dan-zheng opened #609 "Conform `TensorShape` to `Collection` protocols"
`TensorShape` represents the shape of a tensor. It wraps an `[Int]` and provides additional utilities like `var rank: Int` and `var contiguousSize: Int`.

`TensorShape` should conform to `Collection` and related protocols:
- `Collection`
- `MutableCollection`
- `RandomAccessCollection`
- `RangeReplaceableCollection`

`Collection` protocol requirement implementations should forward to the underlyin

[2020-01-10 15:55] dan-zheng commented on #596
Sorry for the late reply. I think renaming `conv2DBackpropInput` and making it a public API is reasonable!

---

[`func matmul`](https://github.com/tensorflow/swift-apis/blob/c7afd2dc7c55735e8449256e6e3efc11f6dc5576/Sources/TensorFlow/Operators/Math.swift#L2774) has `transposed: Bool` arguments for transposing `lhs` or `rhs`:
[code]

Adding a `transposed: Bool = false` argument (or arguments, for

[2020-01-11 01:56] t-ae commented on #596
I think `public func transposedConv2D` is worth adding.

1. Both TensorFlow and PyTorch have separate function for transposed conv2D.

TensorFlow:
- https://www.tensorflow.org/api_docs/python/tf/nn/conv2d?version=stable
- https://www.tensorflow.org/api_docs/python/tf/nn/conv2d_transpose?version=stable

PyTorch
- https://pytorch.org/docs/stable/nn.functional.html#conv2d
- https://pytorch.org/docs/s

[2020-01-11 13:39] awav commented on #609
Hello @dan-zheng, please assign me to this task. I've started working on it. Thanks!

[2020-01-13 15:39] dan-zheng opened #618 "Improve compilation time"
Compilation time (`swift build`) is very slow:

[code]

Let's try to improve this.

---

Type-checking is one big source of source of slow-down. Here are some sorted results from `swift build -Xswiftc -Xfrontend -Xswiftc -debug-time-function-bodies` ([from Gist](https://gist.github.com/dan-zheng/23cb8a937be18967600e127e4f32e85a)):

[code]

Idea from @allevato: provide a contextual type for literal

[2020-01-13 16:24] Shashi456 commented on #618
@dan-zheng `Math.swift` can definitely be broken down, but if that is the long term solution, isn't there a chance it might be lead to over-granular files?

[2020-01-13 16:28] dan-zheng commented on #618
I think we can find a reasonable granularity, based on common sense. One file per function is obviously too fine-grained. One file per category of functions (e.g. `ReductionOperations.swift`) seems reasonable.

If anyone pursues splitting large files into smaller ones to improve compilation time, please include some benchmark results, like in the PR description.

[2020-01-13 16:58] dan-zheng opened #619 "Regenerate RawOpsGenerated.swift"
`Sources/TensorFlow/Bindings/RawOpsGenerated.swift` needs regeneration based on [`tensorflow/tensorflow` `v2.1.0-rc1`](https://github.com/tensorflow/tensorflow/tree/v2.1.0-rc1). Instructions are at https://github.com/tensorflow/swift-apis/tree/master/Sources/TensorFlow/Bindings.

---

Note: the version of `tensorflow` used should always match the version specified in [`utils/update_check/update-ch

[2020-01-13 19:08] Shashi456 commented on #619
@dan-zheng Been trying to generate the files, i'm getting this error :
[code]
Also you need tensorflow 2.1.0 installed as well and the current `generate_wrappers.py` file has tensorflow 1.xx code. I tried to work around it by doing this `import tensorflow.compat.v1 as tf` but maybe that is causing the issues.

[2020-01-13 19:40] Shashi456 commented on #619
You can take a look at the file i generated [here](https://github.com/Shashi456/swift-apis/blob/generate/Sources/TensorFlow/Bindings/RawOpsGenerated.swift).
The error at the end of the file is :
[code]

[2020-01-13 19:50] dan-zheng commented on #619
`Cannot generate code for xxx` errors are produced for TensorFlow functions for which Swift wrappers cannot be generated. This typically occurs for TensorFlow functions with argument/result types that cannot be bridged to Swift, e.g. `ref-valued inputs/outputs`: `tf.Variable` has reference semantics and can't be bridged to Swift yet.

I think these errors are fine! Other bridgeable APIs should be

[2020-01-13 19:51] Shashi456 commented on #619
@dan-zheng should I try building with the generated ops? If it runs I'll push it into a PR?

[2020-01-13 19:55] dan-zheng commented on #619
Yes, please try building with the new generated ops and create a PR: all tests must pass to merge.

[2020-01-13 23:48] dan-zheng commented on #609
Done in https://github.com/tensorflow/swift-apis/pull/615. Thanks @awav!
https://github.com/tensorflow/swift-apis/pull/599 should be unblocked now: no need for manual `TensorShape.+(_:_:)` definitions.

[2020-01-13 23:48] #609 closed

[2020-01-14 07:19] Shashi456 commented on #619
@dan-zheng could you help me debug this ?
[code]

[2020-01-14 07:42] dan-zheng commented on #619
Try manually editing `RawOpsGenerated.swift` to break up the expression into distinct sub-expressions: e.g. declare some temporary `let` variables.

If that works, then edit [`generate_wrappers.py`](https://github.com/tensorflow/swift-apis/blob/master/Sources/TensorFlow/Bindings/generate_wrappers.py) to create the manually written working (with temporary `let` variables) for large expressions to a

[2020-01-14 07:43] Shashi456 commented on #619
@dan-zheng there seem to be multiple large expressions which cause this error. I'll take a look.

[2020-01-14 08:29] Shashi456 commented on #619
@dan-zheng is there any way to have multiple execute returns or like execute them into variables and return the variables? Execute operations more than 10 seem to be collapsing

[2020-01-14 09:07] dan-zheng commented on #619
I'm not sure what you mean exactly. Are higher-arity overloads of `op.execute` necessary?

I'm quite flooded, so I'd appreciate it if you can do your best to debug yourself! Again, first try to manually edit `RawOpsGenerated.swift` to fix compilation, then make `generate_wrappers.py` generate the manually written working code.

[2020-01-14 09:10] Shashi456 commented on #619
Update: The generated raw ops file can be checked [here](https://raw.githubusercontent.com/Shashi456/swift-apis/generate/Sources/TensorFlow/Bindings/RawOpsGenerated.swift).
Three Things have been changed:
1] Added `_Raw` alias.
2] The generated padding is `Padding3` which I changed to `Padding2` since we use that in the code as well.
3] I had to comment out this function at line `parseSequenceExam

[2020-01-14 22:53] #619 closed

[2020-01-15 11:53] SumanSudhir opened #625 "Session Crashes in Colab & Jupyter Lab"
I have noticed that whenever the function doesn't satisfy the precondition of a function then it result in crashing of a Google  Colab and Swift-Jupyter Lab. Here is the reference notebook for the [same](https://colab.research.google.com/drive/12R_swniUt2Sd7pQKqe_1L7YQdv9svleW)

![Screenshot from 2020-01-15 17-17-54](https://user-images.githubusercontent.com/35973532/72431570-2d800c80-37bb-11ea-80

[2020-01-15 18:34] #180 closed

[2020-01-15 19:36] compnerd opened #628 "Investigate size/performance tradeoffs for `-sil-inline-generics` and `-sil-partial-specialization`"
We should identify the actual size and performance implications of the `-sil-inline-generics` and `-sil-partial-specialization` flags that we set during the compilation here: https://github.com/tensorflow/swift-apis/blob/f0748c4771ebe33f70a531808937cbc1e58812d8/CMakeLists.txt#L11-L12

[2020-01-15 20:36] awav opened #630 "S4TF speed"
Hello everyone,

I'm benchmarking Kalman Filter on S4TF, and here are results:

| Language | time |
| :----------|:---|
| Matlab | ~0.1s |
| Python (TF2) | ~2.5s |
| Swift | ~10s |

The question is why is that soo slow, am I doing something wrong?

Swift code (Release, Development toolchain 2019-12-23):
[code]

Python TensorFlow  (version 2.1, pip installed, no GPU, python 3.6)
[code]

Matlab
[cod

[2020-01-15 20:37] dan-zheng commented on #630
What compilation flags did you pass to `swift`? Did you try `swift -Ounchecked`, which disables preconditions?

[2020-01-15 20:48] awav commented on #630
@dan-zheng, how can I pass this option to the Xcode?

I'm not using terminal because of this issue (but that's a different story)

[code]

[2020-01-15 20:51] dan-zheng commented on #630
I forget, but you can Google "Xcode pass Swift compiler flags".

---

The `dyld: Library not loaded: @rpath/libswiftCore.dylib` issue and workaround are known: https://github.com/tensorflow/swift/issues/347

Workaround: manually add an RPATH to SwiftPM binaries.
[code]

[2020-01-15 21:33] awav commented on #630
I did that :), I found posts for old Xcode, but new one has different interface.

Thanks for the tip. Now it works, and bench time didn't change much with `-Ounchecked`.

[code]

[2020-01-16 00:47] pschuh commented on #630
Hi, Just a note here.
I think you'll be a lot happier if you don't use the Tensorflow part, but just the AD part. We still have derivatives defined for many of those operators (over floats). Tensorflow always constructs objects (among other overheads) for every operation with a fixed overhead. This means that for very simple things (like multiplying 2x2 matricies etc), you're incurring a very larg

[2020-01-16 10:27] awav commented on #630
@pschuh, thanks a lot! It does make sense. Does it mean that S4TF behaves like TensorFlow 2.0 in Python without applying `tf.function`? In graph mode, TensorFlow builds computation ops only once and reuses it for different inputs.

Is there a `matmul` for arrays in swift?

[2020-01-16 15:44] awav commented on #630
@dan-zheng, @pschuh Not related to this thread, but the situation with Swift as differentiable programming language reminds me of the essay ["Too much calculus"](http://web.mit.edu/18.06/www/Essays/too-much-calculus.pdf) by Gilbert Strang. I do want to do research using Swift because I like swift-python compatibility, language styling and its direction of development (mainly set by Google), but th

[2020-01-16 18:21] dan-zheng commented on #630
Thanks for your feedback! Please create a new issue next time. 🙂

I guess everyone has different needs and priorities: you may be super interested in differentiable linear algebra operations, but our team is working on things important to us, like:
- Swift models and benchmarking
- A faster, accelerable Tensor implementation
- Meta-programming for machine learning use cases
- Automatic differentia

[2020-01-17 00:11] awav commented on #630
Ok, I will make a separate post in the S4TF mailing list.

The TensorFlow provides lots of functions from LAPACK and BLAS, and it also has a GPU backend with CUBLAS support. This unification of computational backends makes TensorFlow a nice choice. The best solution for me would be to generate TensorFlow swift bindings so that S4TF could call C++ kernel implementations directly without any extra c

[2020-01-17 10:16] #630 closed

[2020-01-19 09:49] t-ae opened #638 "Problems in StringTensor"
I'm trying to use `_Raw.histogramSummary` but find problems of `StringTensor`.

[code]

[code]

1. `tag.scalars`'s content is empty string
2. `summary.scalars` causes crash

[2020-01-19 18:15] SumanSudhir opened #640 "Input parameter in eye function"
https://github.com/tensorflow/swift-apis/blob/3ecba9718a1d3c3d91ad90cae36229dd2d6148b5/Sources/TensorFlow/Operators/LinearAlgebra.swift#L148
In TensorFlow, `tf.eye` function takes the `number of columns` and `batch size` as an optional parameter and we don't need to pass the name of a variable while calling it.

Since we are replicating `tf.eye` I am willing to make some minor changes in eye funct

[2020-01-19 18:18] Shashi456 commented on #640
IMO, although the idea of not having any explicit variable name sound good I think it makes for readable code, and more clarity as to what you are doing. I'm okay with either direction, but the current API also makes sense to me.

[2020-01-19 18:22] SumanSudhir commented on #640
@Shashi456 why you removed test case for eye function ??

[2020-01-19 18:23] Shashi456 commented on #640
@SumanSudhir maybe you are not looking for the right file. You can look at the test case [here](https://github.com/tensorflow/swift-apis/blob/f8a4c3996f6f55499eddb7f1bcfd6b27bfab0b47/Tests/TensorFlowTests/OperatorTests/MatrixTests.swift#L124).

[2020-01-19 18:26] SumanSudhir commented on #640
Oh sorry, I was looking in LinearAlgebraTest file.

[2020-01-20 01:33] t-ae commented on #638
On colab, `tag.scalar` causes crash.

[code]

[2020-01-20 08:26] t-ae commented on #640
It's good to have argument labels in Swift.
But the labels of `eye` looks not so good.

`columnCount` is a bit obscure in `eye(rowCount: 3)`, and it is much more obscure when it comes to `eye(rowCount: 3, columnCount: nil)`.

Why don't we have separate functions, say,
[code]
and
[code]
?

[2020-01-20 09:00] SumanSudhir commented on #640
We don't need to pass `columnCount: nil` as it is an optional parameter, I found it later. Only some minor changes are needed to match it with `tf.eye`, not to pass the name of variable rows and columns while using it.

[2020-01-20 09:27] t-ae commented on #640
I know, of course.
The problem is that currently we **can** pass `columnCount: nil`.

The functions I wrote above doesn't allow `columnCount` to be `nil` so it is much clearer API.

I'm not sure if so many S4TF users want strictly TensorFlow-like API.
I always find argument label useful when compare Swift to Python, Kotlin, etc.

[2020-01-22 22:11] marcrasi commented on #625
This is a fundamental problem with how swift-jupyter is implemented, and we don't have any short term solutions to the problem. I'll keep this open and add an "open-design-questions" label because it would be nice to solve this problem eventually.

What is happening is that these precondition failures crash the program, putting it in an undefined state. LLDB (the thing that actually powers swift-j

[2020-01-22 22:54] BradLarson commented on #638
Coming at this from a different direction: it looks like you're interested in support for TensorBoard summaries. If we were able to add the ability to write summaries without the use of StringTensor (or _Raw operations), would that address your core need?

[2020-01-23 00:31] t-ae commented on #638
Perhaps yes.

I already have summary types in [my library](https://github.com/t-ae/tensorboardS).
I just want to avoid re-implementing histogram computation.

[2020-01-23 01:28] t-ae opened #642 "Duplication of axes in reduction causes several problems"
It seems reduction functions are supporting axes with duplication like `[0, 0]` (`_Raw.*` handle it under the hood).
But `_vjp*` don't consider it. So gradient computation can be incorrect or cause crash.

[code]

[2020-01-24 21:34] rickwierenga opened #645 "Where is _Raw defined?"

[2020-01-24 21:42] ematejska commented on #645
It is here I believe:
https://github.com/tensorflow/swift-apis/blob/master/Sources/TensorFlow/Bindings/RawOpsGenerated.swift

Thanks,
Ewa

On Fri, Jan 24, 2020 at 1:34 PM Rick Wierenga <notifications@github.com>
wrote:

[2020-01-24 21:49] rickwierenga commented on #645
Awesome thanks!

[2020-01-24 21:49] #645 closed

[2020-01-25 14:46] SumanSudhir commented on #562
@Shashi456 do swift for TensorFlow require linear algebra operator like [tf.expm](https://www.tensorflow.org/api_docs/python/tf/linalg/expm) and [tf.logm](https://www.tensorflow.org/api_docs/python/tf/linalg/logm) . It is not mentioned in above list but I am willing to work on it.

[2020-01-26 16:19] rickwierenga opened #647 "Is it possible to convert Tensor to Data?"

[2020-01-26 16:45] rickwierenga commented on #647
This works:

[code]

But I am not sure if this is the fastest/most elegant solution.

[2020-01-30 21:52] rahulbhalley opened #656 "Wrong layers' updates possible with different optimizers only using type info"
I thought about asking transfer learning question at Google groups but found a hack/bug along the way. So I decided to open an issue here.

I am trying to perform transfer learning on my simple model but it seems like I can't pass particular layers into `Optimizer` instance for being updated instead of whole model. The hack I found is initializing the `Optimizer<Scalar>` instance and based on the

[2020-01-30 22:54] rahulbhalley commented on #656
Transfer learning in term of S4TF API design: desired layers' writable parameters must not be moved along the gradient of model. A simple workaround is nested method I recently wrote that makes the `TangentVector` of desired layers of model zero. Now even when I update _whole_ model along all gradients these certain layers are not updated.
[code]

This issue seems to be resolved with this nested f

[2020-01-31 02:58] eaplatanios commented on #656
@rahulbhalley a quick answer to your question based on skimming through it is that you'd need a separate optimizer instance per "part" of the model you need to update. That is because optimizers are sometimes stateful and have internal accumulators (e.g., for the gradient moments) that correspond one-to-one to "parts" of the model being optimized. Reusing the same optimizer for different layers (e

[2020-01-31 05:15] rahulbhalley commented on #656
@eaplatanios I apologize for too large issue content. And I believe you prolly misunderstood me.

In short:

Above I have written two optimizers: `opt1` and `opt2` to update `myNet.dense1` and `myNet.dense12`, respectively. And each optimizer has its own separate learning rate as follows:
[code]

#### Problem/Bug
It is possible to update any layer with either `opt1` or `opt2` as long as the type o

[2020-01-31 05:46] eaplatanios commented on #656
Oh I see what you're saying. Yes I did misunderstand. Do you have any suggestions on better ways to do this? As far as I can tell, types are the only way for the compiler to check whether you're using that function correctly. Many models are value types and so every time they are updated a new copy may be made (depending on how that model is used) and there is no way to track its identity. So, I'm

[2020-01-31 11:31] rickwierenga commented on #517
@Shashi456, is your to do list (https://github.com/tensorflow/swift-apis/issues/517#issuecomment-537128724) up to date?

[2020-02-03 10:00] SumanSudhir commented on #517
No, it is not updated, preconditions have been added to almost every function mentioned in the list https://github.com/tensorflow/swift-apis/issues/517#issuecomment-537128724

[2020-02-04 18:22] rickwierenga commented on #625
I made a post on the SIG a couple of weeks ago: https://groups.google.com/a/tensorflow.org/forum/m/#!topic/swift/uACgFQJqzEI. These issues might be related.

[2020-02-05 16:08] BradLarson opened #661 "Should we convert binary (0, 1) labels to -1 or 1 within categoricalHingeLoss"
As pointed out in PR #579, the tf.keras implementation of `categorical_hinge()` expects values to be -1 or 1, but [will convert binary labels of 0 or 1 to -1 and 1](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/losses.py#L975). Within [our implementation of `categoricalHingeLoss()`](https://github.com/tensorflow/swift-apis/blob/master/Sources/TensorFlow/Loss.swift#L1

[2020-02-09 13:24] #647 closed

[2020-02-11 02:42] rahulbhalley opened #665 "No such module 'TensorFlow’ with v0.7-rc1 on Xcode 11"
On Xcode `import TensorFlow` statement produces an error: `No such module 'TensorFlow’` with New Build System. Although this error still does not go away when using this toolchain with Legacy Build System, instead of New Build System, but the project does builds and still fails to run in Xcode 11.

On terminal, after setting the `PATH` variable to this toolchain and running the program with `swift

[2020-02-11 03:11] dan-zheng commented on #665
Sorry about the Xcode error!

Could you please see if this local patch to `/Library/Developer/Toolchains/swift-tensorflow-RELEASE-0.7.xctoolchain/Info.plist` fixes the issue?
[code]

[2020-02-11 05:51] rahulbhalley commented on #665
After making this modification if I try to select v0.7-rc1 toolchain from `Xcode > Preferences > Components` then Xcode gives an error: "invalid Info.plist (plist or signature have been modified)".

And on terminal when I run `swift` it produces the following error.
[code]

[2020-02-11 20:22] dan-zheng commented on #665
I pushed a new 0.7 macOS toolchain to https://storage.googleapis.com/swift-tensorflow-artifacts/releases/v0.7/rc1/swift-tensorflow-RELEASE-0.7-osx.pkg.

Could you please install it and verify whether the issues (Python 3 linker error, Xcode errors) are fixed?

[2020-02-12 01:37] rahulbhalley commented on #665
Thanks, now it works great on Xcode!

[2020-02-12 01:37] #665 closed

[2020-02-12 18:58] BradLarson opened #670 "Encapsulate _Raw.resizeNearestNeighbor within function or Layer"
As part of [issue #225 on swift-models](https://github.com/tensorflow/swift-models/issues/225), we are attempting to remove references to _Raw functions in swift-models in favor of higher-level abstractions. One of the remaining references to _Raw comes in the use of   `_Raw.resizeNearestNeighbor(images:, size:)` and  `_Raw.resizeNearestNeighborGrad(grads:, size:)` within FastStyleTransfer/Utility

[2020-02-13 23:42] #640 closed

[2020-02-14 03:06] t-ae opened #676 "Bias shape of Conv2D"
I found strange use of `Conv2D` in its test.
https://github.com/tensorflow/swift-apis/blob/3304db3e728120b55674cca06894b6ea5083b5e8/Tests/TensorFlowTests/LayerTests.swift#L101-L111

The filter has shape `[1, 2, 2, 1]` and input has shape `[2, 2, 2, 2]`.
`Conv2D` has strides `(2, 2)` so output of internal `conv2D` will have shape `[2, 1, 1, 1]`.
But the bias has shape [2]. Therefore final output wi

[2020-02-14 06:05] t-ae commented on #670
There are `resizeArea`, `resizeNearestNeighbor`, `resizeBilinear`, `resizeBicubic` in `_Raw`.
Soon or later we will have their non-`_Raw` APIs too.

TensorFlow has single resize API that can specify the method to use.
https://www.tensorflow.org/api_docs/python/tf/image/resize
I think it'll be good to follow this way.

[2020-02-14 18:05] jbmaxwell commented on #25
Any progress on this?

[2020-02-18 19:34] BradLarson commented on #25
Apologies for not updating this thread directly, but for those who hadn't seen it, I presented recent work on loading tensor checkpoints, near-term plans for saving checkpoints, and open design questions about this at [a recent public design meeting](https://groups.google.com/a/tensorflow.org/forum/m/#!topic/swift/SYf7UJjLJqo) (slides available [here](https://docs.google.com/presentation/d/1hC4LfN

[2020-02-19 03:31] t-ae commented on #517
There's no `Layer`s in list. Can you add them @Shashi456?

---

Unlike functions, there are multiple choice in `Layer`s where we check.

1. During `init`
2. When parameters are assigned (in `didSet`)
3. During `callAsFunction`

The checks depend on input must go into `callAsFunction`.
The other checks like `filter.rank == 4` of `Conv2D` can be done outside `callAsFunction`.
I think it's good to ha

[2020-02-19 05:34] Shashi456 commented on #517
@t-ae I'll try to add some more functions for this.

[2020-02-19 07:47] dan-zheng commented on #656
I agree with @eaplatanios: this is actually the intended behavior.

Let `Model` be the name of an arbitrary `Layer`-conforming type. Optimizers should be able to update any `Model` given an (appropriate) instance of `Model.TangentVector`.

This design is simple and makes sense in Swift. `Model` and `Model.TangentVector` are almost always [value types](https://www.swiftbysundell.com/basics/value-an

[2020-02-19 07:49] dan-zheng commented on #656
I'll close this issue now as intended behavior.

[2020-02-19 07:49] #656 closed

[2020-02-19 07:51] dan-zheng commented on #656
@rahulbhalley: if you'd like to clarify specific issues you encountered, feel free to elaborate here or create a new issue!

---

Perhaps you ran into "shape mismatch" errors, as shown in https://github.com/tensorflow/swift-apis/issues/656#issuecomment-588080813. `zeroLayerGradient` in [your code snippet](https://github.com/tensorflow/swift-apis/issues/656#issuecomment-580500247) sets `TangentVect

[2020-02-20 04:37] rahulbhalley commented on #656
Wow. Thanks @dan-zheng. Usage of `zeroTangentVector` looks pretty clean. 👍

[2020-02-20 05:12] Shashi456 opened #685 "Support Advanced Layers"
Now that we support a multitude of basic layers, I'd like this issue to serve as the discussion for supporting advanced layers. While #54 tracked basic layers and most have been implemented, We now need to consider which of the following to add in swift-apis. tensorflow/swift-models#231 added bert, with that also added support for transformers and attention layers. Having reviewed a variety of cur

[2020-02-20 05:37] 8bitmp3 commented on #685
There’re Attention and MultiHeadAttention defined in `tensorflow/swift-models/Transformer`. Maybe those can graduate into ‘/swift-apis’ in some shape and form.

(see `struct Attention: ParameterlessLayer...`, for example)

[2020-02-20 05:51] Shashi456 commented on #676
I think we sort of already do what you mentioned. Whenever the initializer is used the bias size is restricted to `filter.shape[filter.ndim-1]`, as you can see [here](https://github.com/tensorflow/swift-apis/blob/6a67b4ef646222af1dc345d631019cc3602eb16b/Sources/TensorFlow/Layers/Convolutional.swift#L242) and [here](https://github.com/tensorflow/swift-apis/blob/6a67b4ef646222af1dc345d631019cc3602eb

[2020-02-20 05:55] Shashi456 commented on #685
@8bitmp3 yeah that's the plan for the transformer and attention layers afaik, we stage the layers there while eventually moving the fleshed out versions to this repository.

[2020-02-20 09:09] Shashi456 commented on #408
@dan-zheng I think this issue can be closed.

[2020-02-20 09:10] dan-zheng commented on #408
Thanks! Closing.

[2020-02-20 09:10] #408 closed

[2020-02-20 09:10] Shashi456 commented on #395
We currently have no build warnings popping in this repo or swift-models, please reopen whenever needed.

[2020-02-20 09:10] #395 closed

[2020-02-20 14:15] brettkoonce commented on #685
could use a UpSampling2D to do an autoencoder demo.

[2020-02-20 15:44] Shashi456 commented on #685
@brettkoonce Upsampling1D, 2D and 3D already exist.

[2020-02-20 16:37] brettkoonce commented on #685
@Shashi456 not sure how i missed that 😓

[2020-02-21 16:26] rahulbhalley opened #690 "Problem with MaxPool3D input dimensions"
I wrote a little code snippet below.

[code]

Why does not `MaxPool3D` take a 4D data as input? When I pass `[1, 64, 128, 128, 3]` as input it throws an error: `Fatal error: tensor_in_shape must have 2 spatial dimensions.` I don't even understand where `64` should've come (current position or after 3?) given that it's a temporal dimension size.
<hr>

**Output**
[code]

The output above feels `MaxP

[2020-02-21 23:58] awav opened #691 "Q: How to compute a gradient w.r.t. selected parameters?"
Hello all,

I have a very simple question. How to compute gradients w.r.t. a subset of parameters. Let's say I have a model like:

[code]

How do I compute a gradient w.r.t. to only `a` and `b`?

[2020-02-22 11:17] Shashi456 commented on #690
@rahulbhalley you are calling `let output3D = maxpool2D(input3D)`, can you run `maxpool3D(input3D)` ?

[2020-02-22 20:16] rahulbhalley commented on #690
Oh s---. I'm sorry, it's my typo not a bug. Thank you. Will look more clearly into code before jumping into open an issue. Really sorry.

[2020-02-22 20:16] #690 closed

[2020-02-23 18:14] BradLarson commented on #647
I don't believe the above is what you'll want for encoding a Tensor as Data. I think you are downcasting each element of the Tensor from whatever its type is to UInt8, losing information in the process. You're not getting the byte representation of the value, you're squeezing the value into a single byte.

This isn't the cleanest, but here's an approach for a Tensor<Float> that grabs the represent

[2020-02-24 06:44] s1ddok opened #695 "Exposure of _ExecutionContext into public API"
Currently I'm trying to implement custom CUDA kernel for S4TF. It seems mostly straightforward (given that C API contains TF_LibraryLoad and all other necessary stuff), but operation launching is what I'm struggling with. It is possible to create a new TFE_Context, but I would love my ops to share context with built-in ops.

Can ExectuionContext be exposed into public API? I know it may change wit

[2020-02-24 06:54] dan-zheng commented on #695
`_ExecutionContext` is already public:
[code]

It sounds like you'd like specific internal `_ExecutionContext` members to be public. Could you please clarify which ones?

Making members public sounds pretty good to me since `_ExecutionContext` is an underscored API.

[2020-02-24 11:21] s1ddok commented on #695
Yes, initially I wanted to obtain a pointer to `eagerContext` so that I could create my own ops in the same context and execute them. I still think it could be useful, but after a closer look I see that TFTensorOperation don't expect a context as an injection and instead use singletone context in initializer, so now I think maybe it is more reasonable to just make

[code]

a public function to ena

[2020-02-25 06:09] t-ae opened #696 "Add optimizer tests"
Currently there's no tests for optimizers.
It leads bugs like https://github.com/tensorflow/swift-apis/pull/683#issuecomment-589523022.

I wrote simple convergence tests but I'm not sure if they are worth adding.
https://github.com/t-ae/swift-apis/blob/optimizer-tests/Tests/TensorFlowTests/OptimizerTests.swift
Is there better way to test them?

[2020-02-25 06:33] t-ae commented on #691
There are two options.

1. If you want to totally disable the gradient for `c`:

[code]

Then the `Model.TangentVector` doesn't have `c`.

2. If you want to disable just in `callAsFunction`:

[code]

Then the `Model.TangentVector` have `c` but its value is 0.

[2020-02-25 15:17] saeta commented on #696
Hi @t-ae ! That is roughly how I'd try and write a convergence test for the optimizers. Can you confirm that the test fails on Linux due to the keypath issue you identified? If so, I think it'd be great to get these tests added to the test suite! (Out of curiosity, how long do they take to run?)

[2020-02-25 20:53] awav commented on #691
@t-ae, thanks for an example. One more question: is there a way to do the trick with `withoutDerivative` for a model from a third-party library? In TensorFlow, it is pretty easy, I can change variables to non-trainable.

[2020-02-25 21:33] s1ddok commented on #695
this is now partially addressed in #697

[2020-02-26 01:05] t-ae commented on #696
Yes. `AdaMax` and `AMSGrad` fails only on Linux. They are using `recursivelyAllWritableKeyPaths`.

It takes 5 secs for these 8 tests in my environment.
Only `AdaGrad` is slow to converge with default parameter.
I found [`tf.keras.optimizers.Adagrad`](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adagrad)'s default learning rate is 0.001 whereas [`keras.optimizers.Adagrad`](https:/

[2020-02-26 13:23] awav commented on #691
@t-ae, looking at current solutions I realize that models in swift are not flexible enough for research purpose. It happens all the time when you need to learn only the **parameters subset** of the model. So, my question transforms into: "How to compute a gradient w.r.t. selected parameters without editing the model?"

[2020-02-26 15:43] dan-zheng commented on #691
I'm curious why you want to "differentiate with respect to a subset of stored properties of a `Differentiable`-conforming type"? Is your use case optimization (preventing unnecessary differentiation), or something else?

---

Every `Differentiable`-conforming type has a fixed `TangentVector` associated type.

In your snippet, `Model.TangentVector` is a struct with `a` `b` `c` stored properties - t

[2020-02-26 15:47] dan-zheng commented on #691
@t-ae's response https://github.com/tensorflow/swift-apis/issues/691#issuecomment-590707440 is great!
- Use `@noDerivative` on stored properties so they don't appear in `TangentVector`.
  - Use `@noDerivative var c` if you never need derivatives with respect to `c`.
- Using `withoutDerivative(at:)` to prevent differentiation through specific values.

[code]

  - `let c = withoutDerivative(at: self

[2020-02-26 17:29] saeta commented on #691
+1 to @t-ae and @dan-zheng 's responses. One other thing to add:

if you'd like to dynamically control whether particular parameters are updated during the optimization process, you can also "zero-out" the computed derivative before updating the model's state. While this doesn't save on computation of the derivatives themselves (except on top of a lazy tensor runtime... stay tuned!), this would al

[2020-02-26 17:44] dan-zheng commented on #691
Note: using `grads.c = .zero` is actually problematic in general and not recommended. When [per-instance zero tangent vectors](https://bugs.swift.org/browse/TF-1005) are done, you can write:
[code]

The `Differentiable.zeroTangentVector` instance property is more correct than the `AdditiveArithmetic.zero` static property in some cases (e.g. for types containing arrays and tensors).

https://github

[2020-02-27 05:12] dan-zheng opened #699 "Conform `Array` to `Module` and `Layer`"
Add a conditional conformance: `extension Array: Layer where Element: Layer`.

An `Array` of `Layer`s is a `Layer` that applies each element layer in sequence to an input to produce an output. The `callAsFunction` method calls [`differentiableReduce`](https://github.com/apple/swift/blob/7c34fa581b4c30df092190bbe067570a638ac2f0/stdlib/public/Differentiation/DifferentiationSupport.swift#L1279-L1285)

[2020-02-27 05:13] dan-zheng commented on #699
Comment: it's pretty slick that you can make `Array` a `Layer` in just 9 lines.
The power of differentiable programming + protocol-oriented programming!

[2020-02-27 05:26] SumanSudhir commented on #699
@dan-zheng can I take up this issue as I need a similar module for one of my models?

[2020-02-27 05:33] dan-zheng commented on #596
`conv2DBackpropInput` was renamed to `transposedConv2D` and made public in https://github.com/tensorflow/swift-apis/pull/672.
The `transposedConv2D` API is consistent with TensorFlow/PyTorch.

[2020-02-27 05:33] #596 closed

[2020-02-27 06:58] vballoli commented on #696
Hi, in my previous PR https://github.com/tensorflow/swift-apis/pull/564  @dan-zheng suggested adding an OptimizerTest which I'll be submitting today for RAdam inspired from https://github.com/tensorflow/addons/blob/b4cea81897/tensorflow_addons/optimizers/rectified_adam_test.py. Hopefully that can serve as a starting point for all other optimizers

[2020-02-27 07:43] rahulbhalley commented on #699
Oh s---! @SumanSudhir bro I wanted this! You been too quick to get assigned! 🤪

Just kidding. Looking towards your work. 😃

[2020-02-27 07:52] Shashi456 commented on #685
@dan-zheng could you add a good first issue tag to this PR? And add any other comments if you have any.

[2020-02-27 08:15] dan-zheng commented on #691
@awav: I hope your question was answered! Your use case isn't clear, so it's have to provide a targeted suggestion. Feel free to reopen if you'd like to chat more.

[2020-02-27 08:32] awav commented on #691
:D I was writing an answer when you closed it. Can you re-open it?

@dan-zheng, well I can give you two examples. First one is the Gaussian process model. This type of models can have variational parameters and hyperparameters (kernel parameters). The training loss is ELBO (evidence lower bound). It is common to train these type of models with natural gradients updating only variational parameters

[2020-02-27 09:10] dan-zheng commented on #691
Sure! Feel free to do it yourself, since it's your unresolved issue!

---

Could you please share some reference implementations? I'm not an expert, so code will greatly help me understand your examples.

To me, "one iteration step consists of two optimizer updates" sounds expressible to me in Swift. Differential operators are higher-order functions (functional APIs) that produce `T.TangentVector`

[2020-02-27 16:12] rahulbhalley opened #701 "Swift for TensorFlow on Kaggle"
Hi all!

I was wondering if S4TF team have any plans to [somehow] allow Swift for TensorFlow on Kaggle. I think that’s gonna be an amazing platform in addition to Google Colab! It will boost even more adoption of S4TF since Kaggle platform is purely focused on ML/DL challenges (even Google Brain team post challenges there!). Also now Kaggle has TPU pods too. It’ll allow DS/ML/DL researchers/ [DL]

[2020-02-27 17:42] 8bitmp3 commented on #701
I reckon after v1.0 /swift-jupyter/ (@marcrasi) could be ported to kaggle's notebooks for people to start playing with. Colab is a good playground right now.

[2020-02-27 18:33] dan-zheng commented on #701
I'm not sure our team currently has the resources or interest in supporting Swift for TensorFlow on Kaggle. I don't know what's involved, but that sounds like a fun potential community contribution! From someone who does care about Kaggle 🙂

[2020-02-27 23:14] rahulbhalley commented on #701
@8bitmp3 I wonder what is the true plan for S4TF v1.0.

Since Swift is super hackable with extensions, conditional conformances, and other features, I think putting S4TF on Kaggle, in its current state, will still be an amazing idea as team has already stated many times that S4TF is ready for research (I think someone have even deployed style transfer model with S4TF). Furthermore, [swift-models](

[2020-02-27 23:17] awav commented on #691
I didn't have an option to reopen an issue.

Examples of natural gradients and adam optimisers for training [SVGP](https://arxiv.org/abs/1309.6835) model.

Yes, this is a part of the concern.

Thanks, I will try it and will give feedback soon.

[2020-02-28 04:04] BradLarson commented on #701
To add on to what Dan said, we've had conversations with the Kaggle team and they're aware of Swift for TensorFlow. They're great people to work with, and have had some really neat recent initiatives, including the [new availability of TPUs on Kaggle](https://www.kaggle.com/c/flower-classification-with-tpus) or the fascinating [Abstraction and Reasoning Challenge](https://www.kaggle.com/c/abstract

[2020-02-28 04:32] rahulbhalley commented on #701
Oh yes, definitely @BradLarson. First impression gotta be straight 🔥.

I’ve seen on r/deeplearning & r/machinelearning subreddits that people are less receptive to Swift in the world of machine learning whereas people on r/swift are more interested in it (maybe they find it more comfortable to transit than current Python users; probably cuz Python users feel like ‘we write anything and it works (d

[2020-02-28 06:42] t-ae opened #705 "Question: Two Tensor<Float> arguments but differentiable w.r.t. only one"
[code]

`myFunc` is not differentiable w.r.t. `input2`, so I thought pullback of `vjpMyFunc` is this.
But compiler requires pullback to be `(Tensor<Float>)->(Tensor<Float>, Tensor<Float>)`.
How can I make `myFunc` differentiable w.r.t. only `input`?

[2020-02-28 06:57] dan-zheng commented on #705
Use `@derivative(of: myFunc, wrt: input)`.
`@derivative` accepts a `wrt:` differentiability parameters clause, just like `@differentiable`.

[code]

The [differentiable programming manifesto](https://github.com/apple/swift/blob/master/docs/DifferentiableProgramming.md#derivative-functions) has more info on the `@derivative` attribute.
Hope this helps!

[2020-02-28 06:57] #705 closed

[2020-02-29 19:50] SumanSudhir commented on #699
Sorry, my exam was going on, so I didn't spend time on it that day

[2020-03-01 17:58] sainikhit2k commented on #402
Is this list updated ?

[2020-03-02 06:45] t-ae commented on #696
Now my OptimizerTests.swift is merged. But it seems to fail to catch the problem https://github.com/tensorflow/swift-apis/pull/700#discussion_r385097412.
Numerical test @vballoli introduced in #700 is better than my convergence test.
I'll look into it after #700 is merged.

[2020-03-04 00:13] t-ae opened #714 "Can't compile with latest toolchain"
From latest toolchain (Development Snapshots/Xcode/February 29, 2020) I get compilation error below.

[code]

It requires to write `platforms` like swift-models.
https://github.com/tensorflow/swift-models/blob/78565015dce1c7dd1cb2b905d19f80d5585536f7/Package.swift#L8-L10

Or is it a compiler-side bug?

[2020-03-04 01:54] compnerd commented on #714
This isn't a compiler-side issue.  This is a build configuration setting.  You can see in the build configuration [here](https://github.com/apple/swift/blob/tensorflow/utils/swift_build_support/swift_build_support/products/pythonkit.py#L53) that we explicitly set the minimum deployment version to 10.13.  If we do not specify one, it will be the version of the build host.  If there is a strong reas

[2020-03-04 02:07] t-ae commented on #714
@compnerd
Thank you for clarification.

No. But now all S4TF/S4TF projects have to define `paltforms` in Package.swift.
I think it'll be good if `swift package init` automatically write it.

[2020-03-04 09:12] dan-zheng commented on #714
For now, I avoided this error with the [2020-03-03 macOS toolchain](https://storage.googleapis.com/swift-tensorflow/mac/swift-tensorflow-DEVELOPMENT-2020-03-03-a-osx.pkg) by running `swift build -Xswiftc -target -Xswiftc x86_64-apple-macosx10.13`.

[2020-03-04 16:22] #714 closed

[2020-03-04 18:54] saeta commented on #699
Reassigning to @dabrahams who had some thoughts on design here. Thanks!

[2020-03-05 19:18] BradLarson commented on #670
Fixed by PR #706. Thanks again, @t-ae!

[2020-03-05 19:18] #670 closed

[2020-03-08 21:04] s1ddok opened #723 "`AnyLayer` type erasure"
I've recently completed my first S4TF project - [pix2pix implementation](https://github.com/s1ddok/pix2pix-s4tf). It went more or less smooth, but one thing I couldn't workaround is huge generic types produced by recursive U-Net creation.

In particular it results in [such things](https://github.com/s1ddok/pix2pix-s4tf/blob/44a807ba2ef53304640b44d5aca9454ebff7fef3/Sources/pix2pix/Generator.swift#L

[2020-03-09 17:11] s1ddok opened #724 "Q: Combine multiple losses"
Hi! I'm on my way of implementing CycleGAN in Swift for TensorFlow, but ran into an issue I can't resolve myself. I know GitHub issues is not the place to ask questions, I would love to be pointed with an appropriate place.

I wrote the code to calculate multiple losses:

[code]

and now I'm struggling to combine them into one. In Python tutorial they just do it like this:

[code]

but I'm not sur

[2020-03-09 17:26] saeta commented on #724
Thanks for flagging that we don't have this documented anywhere!
 I just put together: https://github.com/tensorflow/swift-apis/wiki/Getting-Help. Is that helpful? // Any suggested edits?

[2020-03-09 17:31] s1ddok commented on #724
@saeta great, thanks! I will try to redirect the question there.

Btw did you consider creating a dedicated subforum on forums.swift.org? I feel like mailing lists are a bit scary especially for newcomers like me.

[2020-03-10 14:56] saeta commented on #724
Hehe, great question. There are plans to get a discourse instance setup for TensorFlow, and we were planning a subforum there. But it hasn't finalized yet, so we just have the mailing list for now. :-/ Thanks for the feedback, and for the question on the mailing list!

[2020-03-12 21:22] dabrahams commented on #723
None of this solves your immediate problem (Dan's already promised to try to do that 😉) but:

For the particular models you express concern about at the end, we might benefit most from having a layer that repeats a layer or group of layers a dynamic number of times.  That could avoid the performance costs of total type erasure while providing the flexibility you're looking for.

Also, there are va

[2020-03-14 14:22] #724 closed

[2020-03-17 14:48] s1ddok commented on #699
Just tried the proposed approach by @dan-zheng - very convenient but unfortunately doesn't work for now. Using array for my resblocks results in strange errors like that:

[code]

hardcoding each block in the property solves the issue.

Just wanted to let you know of potential problems. Hopefully the feature makes it into release.

[2020-03-19 15:40] brettkoonce opened #757 "adamax/adagrad not working with differentiableReduce"
all credit to @s1ddok for reporting this in https://github.com/tensorflow/swift-models/pull/394!

something is failing (i think block-based reduces) with the adamax/adagrad optimizers:

[code]

full trace:

[code]

[2020-03-19 15:43] s1ddok commented on #757
Thanks for opening up the issue alongside with repro case! I just want to add my 2 cents that I initially discovered this problem with `AMSGrad` which is not working as well.

[2020-03-19 15:49] brettkoonce commented on #757
ugh you're right i copy pasted the wrong call, fixed!

[2020-03-19 16:39] dabrahams commented on #699
As noted in https://github.com/tensorflow/swift-apis/pull/673#discussion_r394652982 I don't think the specific feature requested in this issue is quite right and there are alternatives that would be more powerful/useful.  Back to @dan-zheng to reply or repurpose this issue or close it and open a new one.

[2020-03-19 19:35] dan-zheng commented on #696
Closing, as both optimizer convergence tests and numerical correctness tests have been added. Thanks!

[2020-03-19 19:35] #696 closed

[2020-03-19 19:57] dan-zheng opened #759 "Investigate optimizer numerical correctness vs Python reference implementations"
https://github.com/tensorflow/swift-apis/pull/758 adds Python TensorFlow reference implementations for optimizer numerical correctness.

This issue tracks numerical differences between Swift optimizer implementations and the reference implementations. See references to TF-??? in `Tests/TensorFlowTests/OptimizerTests.swift` for details.

---

Some differences are larger than others. I think we shou

[2020-03-19 20:35] Kshitij09 commented on #127
[LabelSmoothingCrossEntropy](https://arxiv.org/abs/1512.00567) Loss, originally proposed by Szegedy et al. and further expounded by Geoffrey Hinton et al. in [When does Label Smoothing Help?](https://arxiv.org/abs/1906.02629) have been proven effective strategy for building robust models. While it's relatively simple to integrate, I'd like to contribute this one to get acquainted with _swift for t

[2020-03-20 19:53] vballoli commented on #759
Is it possible that the small differences are actually respective language's precision differences since Swift's default Float precision is `Float32` but Python's Float precision is `Float64` ?

[2020-03-20 20:22] dan-zheng commented on #759
The Python TensorFlow optimizer reference implementation use `tf.float32` precision, which should match Swift: https://github.com/tensorflow/swift-apis/blob/b7a9e56efc08f683733433ba3c7eee4966570213/Utilities/ReferenceImplementations/optimizers.py#L16-L17

---

These example `float32` programs produce the exact same output, which give me hope that exact numerical equality is attainable:
[code]
[cod

[2020-03-20 22:05] maksymsur opened #766 "StringTensor behavior"
Both StringTensor.array & StringTensor.scalars produce errors in Colab

[code]

[2020-03-21 10:55] Kshitij09 opened #769 "Use of unresolved identifier 'SGD'"
I'm using latest release of swift for tensorflow (v0.8) on Ubuntu 18.04. I've followed all the setup [instructions](https://github.com/tensorflow/swift/blob/master/Installation.md#linux) and trying to run following code on jupyter lab using [swift-jupyter](https://github.com/google/swift-jupyter)
[code]
(Imagine each block is a code cell of notebook)
it works perfect till model creation but immedi

[2020-03-21 11:17] Kshitij09 commented on #769
The above issue doesn't occur on Google Colab and colab was even able to import `MobileNetv2` which is not the case on my local machine.

[2020-03-21 13:34] dan-zheng commented on #769
Does `import TensorFlow` instead of `import Tensorflow` fix the issue?

Invalid module imports are weirdly not diagnosed, which is a recent regression tracked by TF-1210.

---

You can run a short script:
[code]
[code]

[This mailing list thread](https://groups.google.com/a/tensorflow.org/g/swift/c/pBcbcWg_a-0) has more context on running scripts in Swift Jupyter/Colab.

[2020-03-21 13:56] vballoli commented on #769
In addition to @dan-zheng 's suggestion, it might raise an error again since SGD's initialization is missing a necessary argument, i.e
[code]

Hope this helps.

[2020-03-21 15:03] Kshitij09 commented on #769
This does solve the issue. It should have complained at the first place :sweat_smile:

This would print out the current swift version, I was asking for s4tf _toolchain_ version

Those arguments do have default values.

@dan-zheng should I close this issue or change its title accordingly?

[2020-03-21 15:10] Kshitij09 commented on #769
Also, what could be the reason for this one? does colab update the toolchain nightlies regularly?

[2020-03-21 15:59] dan-zheng commented on #769
[`MobileNetv2`](https://github.com/tensorflow/swift-models/blob/60fe0e51cd702dd868231c1cdc0933dc473266c3/Models/ImageClassification/MobileNetV2.swift) is defined in `tensorflow/swift-models`, so you need to add `tensorflow/swift-models` as a [SwiftPM dependency in Jupyter/Colab](https://github.com/google/swift-jupyter#install-directives) before you can import it.

Try these two cells:
[code]
[code

[2020-03-21 16:00] dan-zheng commented on #769
Feel free to close issues when your questions are all answered!

[2020-03-21 16:20] #769 closed

[2020-03-21 16:23] Kshitij09 commented on #769
I've actually done this one,
[code]
 but on local machine it shows only the `MobileNetV1`

[2020-03-21 20:02] s1ddok opened #770 "Dataset that doesn't fit into RAM"
Am I correct that current Dataset implementation expects the whole dataset to be loaded into RAM? Is there a on-demand IO support right now, or one have to implement it?

[2020-03-21 21:55] brettkoonce commented on #770
That is correct, currently everything gets loaded into memory.

Per the SIG meeting yesterday, sounded like the XLA codepath would pull in some batch logic/do a better job with GPU memory usage.  @asuhan can you (if possible) provide any more details?

[2020-03-21 23:43] s1ddok opened #771 "Point-wise comparison operators are not differentiable"
I've faced an issue during porting a very simple loss function.

[code]

This: `Tensorf(x .< w)` and this: ` Tensorf(x .>= w)` appeared to be non-differentiable. Can somebody hint on how to implement derivatives for comparison? From my understanding it is basically zero and in one point it is undefined. I'm not sure how to implement this in code for an operator.

[2020-03-22 16:14] Kshitij09 commented on #769
I learned the reason behind it. On your local machine, once you run above installation commands, a directory named `swift-packages` is being created which acts as cache and confines reinstalling the latest version. You can simply delete `swift-packages` directory and enjoy latest version but I hope there must be some kind flag (like --no-cache-dir of pip) that I'm missing.

cc: @dan-zheng

[2020-03-22 23:43] Kshitij09 commented on #127
I've few things to discuss regarding the current implementation of `softmaxCrossEntropy`:

1. I found inconsistencies among docs of tensorflow's [sparse_softmax_cross_entropy](https://www.tensorflow.org/api_docs/python/tf/nn/sparse_softmax_cross_entropy_with_logits) and swift-api's [softmaxCrossEntropy(logits:labels:reduction)](https://www.tensorflow.org/swift/api_docs/Functions#softmaxcrossentrop

[2020-03-23 02:22] t-ae commented on #771
Comparison operators returns `Tensor<Bool>`, so you can't differentiate them. I don't know if there's plan to ignore them.
For now you can use `withoutDerivative(at:)` to avoid differentiation.
[code]

[2020-03-23 03:27] BradLarson commented on #770
We're working to deprecate the TensorFlow Dataset type in place of the [Batcher](https://github.com/tensorflow/swift-models/tree/master/Batcher) architecture that is being tested and evolved in swift-models. We should be removing all references there to Dataset in favor of this pretty soon. The Batcher structure should allow for on-demand loading of larger datasets (see the Imagenette example impl

[2020-03-23 09:39] s1ddok commented on #771
@t-ae thatnks for the answer! will it still make the loss function valid?

[2020-03-23 14:57] Kshitij09 commented on #670
@BradLarson threre's still one [reference](https://github.com/tensorflow/swift-models/blob/a9f4f79ab91de9419ac47921149ff1a257d197f8/FastStyleTransfer/Models/TransformerNet.swift#L173) to FastStyleTransfer/Utility `resizeNearestNeighbour` which should be replaced with high level resize API of #706. Should I make necessary change or it'll be auto updated?

[2020-03-25 16:03] saeta commented on #771
I did a quick check in a smaller test case and it appears to work: https://colab.research.google.com/drive/1iGQwmZV1hvpsgR_mCQ8S3rT8th7MdeZy

<img width="1679" alt="Screen Shot 2020-03-25 at 9 01 19 AM" src="https://user-images.githubusercontent.com/1284535/77557750-5980d380-6e77-11ea-988f-698058411402.png">

Thanks @t-ae for the great answer!

[2020-03-25 16:03] #771 closed

[2020-03-25 16:07] s1ddok commented on #771
@saeta I've been using
[code]

as a workaround, but I'm glad to see this is working.

Still not sure how to get comfortable with understanding of differentiation stuff in S4TF. I thought `noDerivative` automatically makes stuff non-differentiable.

[2020-03-26 12:21] #766 closed

[2020-03-27 12:12] pedronahum commented on #562
Hi,
If I can add to the wishlist, the following matrix operations could be useful:
- QR eigen decomposition with explicit shift (Wilkinson shif)
- the Schur decomposition

[2020-03-27 12:26] pedronahum opened #785 "TensorFlow Probability"
Hi all,

Is there a JIRA ticket or issue that is tracking what is needed in order to bring probabilistic reasoning and analysis to Swift for TensorFlow?

#562 tracks "Layer 0" (ie, tf.linalg), but I havent seen something similar for other Layers.

Thanks!

[2020-03-28 04:02] vballoli opened #787 "swift build fails"
Upon executing `swift build`, I'm receiving the following message:

Any workarounds ?
[code]

[2020-03-28 10:52] Kshitij09 commented on #412
I'd like to work on this one. Could you please assign this to me? :slightly_smiling_face:

[2020-04-01 17:19] texasmichelle commented on #785
We do not currently have anything tracking that problem. It's interesting, but large in scope and likely deserves its own home outside of S4TF.

[2020-04-01 17:19] #785 closed

[2020-04-01 19:11] BradLarson commented on #770
To follow on to this, as of [PR #418 in swift-models](https://github.com/tensorflow/swift-models/pull/418), all TensorFlow.Dataset usage has been replaced with the Batcher architecture. We will be deprecating the use of TensorFlow.Datasets. Batcher supports handling datasets that do not entirely fit into memory, and allows for lazy-loading data on demand, so we shouldn't be limited to just what we

[2020-04-01 19:11] #770 closed

[2020-04-02 16:08] compnerd commented on #787
The workaround would be to remove the `CMakeLists.txt` temporarily.  However, this is interesting.

https://github.com/tensorflow/swift-apis/blob/master/Dockerfile#L45 and https://github.com/tensorflow/swift-apis/blob/master/Dockerfile#L48 is where we actually build and test using s-p-m in CI, and that succeeds.  What version of s-p-m are you using?

[2020-04-02 17:29] asuhan opened #797 "[x10] Add counters for operators which use interoperability"
We just need to expose and call:
https://github.com/tensorflow/swift-apis/blob/e6afd0ba29570ac285241bc92bd04be896b98396/Sources/x10/xla_client/metrics.h#L156 with the name being the operation.

[2020-04-02 17:30] asuhan commented on #797
@pschuh Feel free to take this one if you want since you're most familiar with the auto-generated dispatch.

[2020-04-08 15:40] saeta commented on #787
@compnerd I have seen this on some mac toolchains as well, and I've had to temporarily remove those files. If we use the latest toolchains on mac, does this issue appear as well?

[2020-04-08 16:32] compnerd commented on #787
@saeta The Linux CI builds build with the latest s-p-m just fine (I've definitely run that before myself as well).

[2020-04-08 17:10] saeta commented on #787
I think I was using `swift-tensorflow-DEVELOPMENT-2020-02-19-a`.

[2020-04-10 19:55] s1ddok opened #813 "Any guidance on how to implement custom operations with x10?"
Is there a minimal example on how one can introduce a custom layer for shiny new x10 backend? I know we can enforce lazy tensor barrier, do whatever we want with tensor's memory and then schedule other x10 operations, but that will introduce performance hiccups because CPU/GPU sync and memory transfer. I'm looking for a way to be able to write arbitrary logic that would be compiled and run within

[2020-04-10 20:23] asuhan commented on #813
Thank you for the question!

As long as what you're trying to implement can be expressed in terms of XLA operations as described by https://www.tensorflow.org/xla/operation_semantics, it's possible. We just need to expose them as tensor methods, like we did for several operations already (check https://github.com/tensorflow/swift-apis/blob/master/Sources/x10/xla_tensor/ops/xla_avg_pool.h for examp

[2020-04-10 20:28] s1ddok commented on #813
@asuhan thank's for such a quick answer. I will examine this one! Am I correct all those things have to be implemented in C++? Can one create custom ops for XLA? I want to implement some learnable pixel-level operators mostly based on sampling (like LUT, warping etc) but completely lost on where to start

[2020-04-10 20:36] s1ddok commented on #813
Will XLA custom calls headers be exposed?

Like the ones stated in their tutorial

[code]

[2020-04-10 20:41] asuhan commented on #813
@s1ddok Currently they have to be manually implemented in XLA, but they're very simple wrappers over the XLA builder interface. They're simple enough that we plan to auto-generate them in the future, all the way to Swift.

Creating a completely custom operator is possible, but it'd require writing CUDA C++ (or C++, for CPU). We already use eager TF kernels running on CPU for a handful of operation